<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    #bank_deposit, #bank_withdraw,#profit_loss, #expense_headwise, #cash_receive, #cash_payment,#income_report,#expense_report,#purchase_return_report,#purchase_invoice_report,#sale_return_report,#sale_invoice_report,#expense_complete_report,#party_ledger,#bank_ledger,#demage_report,#categorywise_stock,#profit_and_loss,#monthly_sale_report,#categorywise_profit,#categorywise_sale_report,#price_list_report,#city_receivable{
        height: 400px;
        top: calc(50% - 200px) !important;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-md-12">


 {#monthly sale report #}
           <div id="monthly_sale_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Monthly Sale Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/monthly_sale_report" target="_blank">


                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of monthly sale #}
           
             <div id="categorywise_sale_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content" style="width: 800px;">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">CategoryWise Sale Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/categorywise_sale_report" target="_blank">



                               <div class="form-group col-md-3" >
                                   <label for="exampleInputEmail1">Category Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="category_id">
                                       <option value="0">Select Category</option>
                                       {% for category in categories %}
                                           <option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-3" >
                                   <label for="exampleInputEmail1">Booker Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="party_id">
                                       <option value="0">Select Booker</option>
                                       {% for customer in customers %}

                                           {% if customer.TYPE == 'B' %}
                                               <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>

                                           {% endif %}


                                       {% endfor %}
                                   </select>
                               </div>

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit13">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           
           
           
               {#price list report#}
           <div id="price_list_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Price List Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/price_list_report" target="_blank">


                               <div class="form-group col-md-12" >
                                   <label for="exampleInputEmail1">Category Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="category_id">
                                       <option value="0">Select Category</option>
                                       {% for category in categories %}
                                           <option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>

           {#end of price list report#}
           
           
           
               <div id="city_receivable" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">CityWise Receivable</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/city_receivable" target="_blank">
                               <div class="form-group col-md-12" >
                                   <label for="exampleInputEmail1">City Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="city_id">
                                       {% for city in cities %}
                                           <option value="{{ city.id }}">{{ city.city }}</option>
                                       {% endfor %}
                                   </select>

                               </div>




                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit13">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           
           {#categorywise profit report#}

           <div id="categorywise_profit" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">categorywise profit Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/categorywise_profit" target="_blank">


<div class="form-group col-md-4" >
                                   <label for="exampleInputEmail1">Category Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="category_id">
                                       <option value="0">Select Category</option>
                                       {% for category in categories %}
                                           <option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit13">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>

           {#end of categorywise profit  #}


           {#party ledger report#}
           <div id="party_ledger" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Party Ledger Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/party_leger_report" target="_blank">
                               <div class="form-group col-md-4" >
                                   <label for="exampleInputEmail1">Party Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="party_id">
                                       <option value="0">Select Party</option>
                                       {% for customer in customers %}

                                           {% if customer.TYPE == 'C' %}
                                               <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}(Customer)</option>
                                           {% else %}
                                               <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}(Vendor)</option>
                                           {% endif %}


                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit12">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>

           {#end of party ledger#}
           
           
           {#Profit and loss stock#}
           <div id="profit_and_loss" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Profit And Loss Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/profit_and_loss" target="_blank">


                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of Profit and loss Stock#}


     {#categorywise stock#}

           <div id="categorywise_stock" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">CategoryWise Stock Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/categorywise_stock" target="_blank">


                               <div class="form-group col-md-12" >
                                   <label for="exampleInputEmail1">Category Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="category_id">
                                       <option value="0">Select Category</option>
                                       {% for category in categories %}
                                           <option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
            {#end of categorywise Stock#}

           {#Bank ledger report#}
           <div id="bank_ledger" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Bank Ledger Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/bank_leger_report" target="_blank">
                               <div class="form-group col-md-4" >
                                   <label for="exampleInputEmail1">Bank Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="account_id">
                                       {% for bank in banks %}
                                           <option value="{{ bank.ACCOUNT_ID }}">{{ bank.NAME }}</option>
                                       {% endfor %}
                                   </select>

                               </div>


                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit13">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>

           {#end of Bank ledger#}

   <div id="demage_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Demage Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/demage_report" target="_blank">



                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit13">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>


          {#expense_complete_report#}
          <div id="expense_complete_report" class="modal fade" role="dialog">
              <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header bg-aqua" >
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Expense Complete Report</h4>
                      </div>
                      <div class="modal-body">
                          <form method="post" action="/reports/expense_complete_report" target="_blank">


                              <div class="form-group col-md-6" >
                                  <label for="exampleInputPassword1">From</label>
                                  <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                              </div>

                              <div class="form-group col-md-6" >
                                  <label for="exampleInputPassword1">To</label>
                                  <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                              </div>


                              <div class="form-group col-md-12" >
                                  <input type="submit" class="btn btn-primary" style="float: right" id="submit11">
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>

              </div>
          </div>
           {#end of total expense#}
           {#bank deposit      #}
            <div id="profit_loss" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-aqua" >
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Profit Loss Report</h4>
                        </div>
                        <div class="modal-body">
                           <form method="post" action="/reports/profit_loss" target="_blank">


                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                               <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                               </div>
                           </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            {#end of bank deposit#}


           {#bank withdraw#}
           <div id="bank_withdraw" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Bank WithDraw Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/bank_withdraw" target="_blank">
                               <div class="form-group col-md-4" >
                                   <label for="exampleInputEmail1">Category Name</label>
                                   <select class="form-control selectpicker" data-live-search="true" name="account_id">
                                       {% for bank in banks %}
                                           <option value="{{ bank.ACCOUNT_ID }}">{{ bank.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit2">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of bank withdraw#}

            {#bank withdraw#}
           <div id="expense_headwise" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Expense Headwise Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/expense_headwise" target="_blank">
                               <div class="form-group col-md-4" >
                                   <label for="exampleInputEmail1">Expense Name</label>
                                   <select class="form-control selectpicker" data-live-search="true" name="account_id">
                                       {% for expense in expenses %}
                                           <option value="{{ expense.ACCOUNT_ID }}">{{ expense.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit2">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
          {#end of bank withdraw#}

           {#bank deposit      #}
           <div id="bank_deposit" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Bank Deposit Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/bank_deposit" target="_blank">
                               <div class="form-group col-md-4" >
                                   <label for="exampleInputEmail1">Category Name</label>
                                   <select class="form-control selectpicker" data-live-search="true" name="account_id">
                                       {% for bank in banks %}
                                           <option value="{{ bank.ACCOUNT_ID }}">{{ bank.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-4" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of bank deposit#}


           {#cash receive#}
           <div id="cash_receive" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Cash Receive Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/cash_receive" target="_blank">
                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit3">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of cash receive#}

           {#cash payment#}
           <div id="cash_payment" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Cash Receive Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/cash_payment" target="_blank">
                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit4">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of cash payment#}


           {#income report#}

           <div id="income_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Income Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/income_report" target="_blank">
                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit5">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of income report#}

           {#expense report#}
           <div id="expense_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Expense Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/expense_report" target="_blank">
                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit6">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of expense report#}

           {#purchase return#}
           <div id="purchase_return_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Purchase Return Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/purchase_return_report" target="_blank">
                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit7">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of purchase return#}


           {#purchase invoice#}
           <div id="purchase_invoice_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Purchase Invoice Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/purchase_invoice_report" target="_blank">
                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-6" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit8">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of purchase invoice#}

           {#sale return report#}

           <div id="sale_return_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content" style=" width: 800px;">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Sale Return Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/sale_return_report" target="_blank">


                               <div class="form-group col-md-3" >
                                   <label for="exampleInputEmail1">Customer Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="party_id">
                                       <option value="0">Select Customer</option>
                                       {% for customer in customers %}
                                           <option value="{{ customer.PARTY_ID }}">{{ customer.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputEmail1">Product Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="product_id">
                                       <option value="0">Select Product</option>
                                       {% for product in products %}
                                           <option value="{{ product.PRODUCT_ID }}">{{ product.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit9">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of sale return report#}


           {#sale invoice report#}
           <div id="sale_invoice_report" class="modal fade" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content" style=" width: 800px;">
                       <div class="modal-header bg-aqua" >
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Sale Invoice Report</h4>
                       </div>
                       <div class="modal-body">
                           <form method="post" action="/reports/sale_invoice_report" target="_blank">

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputEmail1">Customer Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="party_id">
                                       <option value="0">Select Customer</option>
                                       {% for customer in customers %}
                                           <option value="{{ customer.PARTY_ID }}">{{ customer.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputEmail1">Product Name</label>

                                   <select class="form-control selectpicker" data-live-search="true" name="product_id">
                                       <option value="0">Select Product</option>
                                       {% for product in products %}
                                           <option value="{{ product.PRODUCT_ID }}">{{ product.NAME }}</option>
                                       {% endfor %}
                                   </select>
                               </div>


                               <div class="form-group col-md-3" >
                                   <label for="exampleInputPassword1">From</label>
                                   <input type="date" name="from_date" class="form-control thedate" id="thedate"  >
                               </div>

                               <div class="form-group col-md-3" >
                                   <label for="exampleInputPassword1">To</label>
                                   <input type="date" name="to_date" class="form-control thedate" id="thedate"  >
                               </div>


                               <div class="form-group col-md-12" >
                                   <input type="submit" class="btn btn-primary" style="float: right" id="submit10">
                               </div>
                           </form>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>
           {#end of sale invoice report#}
            <div id='msgbox'></div><div  id='_page_body'>


               {% set entries = craft.entries.section('users').getRawSql() %}

              <h1>  {{ entries }}</h1>

                <section class='content' style='padding:5px;margin-top:3px;'><div class='box box-success '  style='padding-bottom:20px;'><div class='box-header with-border '><h3 class='box-title '>Report Section</h3><div class='box-tools pull-right'><button class='btn btn-box-tool' data-widget='collapse'><i class='fa fa-minus'></i></button></div></div><div class='box-body no-padding'><div class='row'><div class='col-md-12 col-sm-11' ><div class='pad col-md-12 col-sm-12 col-lg-12' >




                                        {#<div class="col-lg-3 col-sm-3 col-xs-12" >#}
                                            {#<a data-toggle="modal"  data-target="#sale_invoice_report" style="width: 100%; border-radius: 40px;"  onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'#}
                                                {#class='btn  btn-primary '#}
                                                {#href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Sale Invoice Reports#}
                                                {#<span class='label  '></span>#}
                                            {#</a>#}
                                        {#</div>#}

                                        <div style="margin-top: 20px">
                                            {% for menu in all_menus %}
                                            {% if menu.name=='sale_invoice' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <a data-toggle="modal" data-target="#sale_invoice_report"  style="width: 100%;   border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                           class='btn  btn-primary'
                                           href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="lang" key="sale invoice report">Sale Invoice Report</span>
                                            <span class='label  '></span>
                                        </a>
                                        </div>
                                            {% endif %}

                                                {% if menu.name=='yy_sale_invoice' %}
                                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                                        <a data-toggle="modal" data-target="#sale_invoice_report"  style="width: 100%;   border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                           class='btn  btn-primary'
                                                           href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="lang" key="sale invoice report">Sale Invoice Report</span>
                                                            <span class='label  '></span>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                                
                                                   {% if menu.name=='union_sale_invoice' %}
                                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                                        <a data-toggle="modal" data-target="#sale_invoice_report"  style="width: 100%;   border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                           class='btn  btn-primary'
                                                           href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="lang" key="sale invoice report">Sale Invoice Report</span>
                                                            <span class='label  '></span>
                                                        </a>
                                                    </div>
                                                {% endif %}

                                            {% endfor %}

                                          {% for menu in all_menus %}
                                         {% if menu.name=='sale_return' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal" data-target="#sale_return_report"  style="width: 100%;   border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Sale Return Report
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                         {% endif %}
                                          {% endfor %}

                                            {% for menu in all_menus %}
                                                {% if menu.name=='purchase_invoice' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12" >
                                            <a data-toggle="modal" data-target="#purchase_invoice_report"  style="width: 100%;   border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Purchase Invoice Reports
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            
                                              {% if menu.name=='union_purchase_invoice' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12" >
                                            <a data-toggle="modal" data-target="#purchase_invoice_report"  style="width: 100%;   border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Purchase Invoice Reports
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            {% endfor %}
                                            
                                             {% for menu in all_menus %}
                                                {% if menu.name=='yy_purchase_invoice' %}
                                                    <div class="col-lg-3 col-sm-3 col-xs-12" >
                                                        <a data-toggle="modal" data-target="#purchase_invoice_report"  style="width: 100%;   border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                           class='btn  btn-primary'
                                                           href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Purchase Invoice Reports
                                                            <span class='label  '></span>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                            {% for menu in all_menus %}
                                            {% if menu.name=='purchase_return' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a  data-toggle="modal" data-target="#purchase_return_report" style="width: 100%;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                class='btn  btn-primary'
                                                href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Purchase Return Reports
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            {% endfor %}


                                            {% for menu in all_menus %}
                                         {% if menu.name=='voucher_expense' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal" data-target="#expense_report"  style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                class='btn  btn-primary'
                                                href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="lang" key="expense report"> Expense Report</span>
                                                <span class='label  '></span>
                                            </a>
                                        </div>




                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal" data-target="#expense_headwise"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Expense Headwise Report
                                                <span class='label  '></span>
                                            </a>
                                        </div>


                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal" data-target="#expense_complete_report"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="lang" key="expense complete report"> Expense Complete Report</span>
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                         {% endif %}
                                            {% endfor %}

                                            {% for menu in all_menus %}
                                            {% if menu.name=='voucher_income' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal" data-target="#income_report" style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                class='btn  btn-primary'
                                                href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Income Report
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            {% endfor %}

                                            {% for menu in all_menus %}
                                                {% if menu.name=='voucher_cash_payment' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a  data-toggle="modal" data-target="#cash_payment" style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                class='btn  btn-primary'
                                                href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Cash Payment Report
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            {% endfor %}

                                            {% for menu in all_menus %}
                                            {% if menu.name=='voucher_cash_receive' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a  data-toggle="modal" data-target="#cash_receive"  style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                class='btn  btn-primary'
                                                href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; <span class="lang" key="cash receive report"> Cash Receive Report</span>
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            {% endfor %}

                                            {% for menu in all_menus %}
                                                {% if menu.name=='voucher_bank_deposit' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a  data-toggle="modal" data-target="#bank_deposit"   style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                class='btn  btn-primary'
                                                href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Bank Deposit Report
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            {% endfor %}


                                            {% for menu in all_menus %}
                                            {% if menu.name=='voucher_bank_withdraw' %}
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal" data-target="#bank_withdraw"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Bank Withdraw Report
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                            {% endif %}
                                            {% endfor %}


                                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal" data-target="#bank_ledger"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span>Bank Ledger Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>



   <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal" data-target="#price_list_report"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span>Price List Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>


                                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='/reports/customer_list_report'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" >Customer List  Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>


                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal" data-target="#party_ledger"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" key="party ledger report">Party Ledger Report</span>
                                                <span class='label  '></span>
                                            </a>
                                        </div>


                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <a data-toggle="modal"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                               class='btn  btn-primary'
                                               href='/reports/receivable_report'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" >Receivable  Report</span>
                                                <span class='label  '></span>
                                            </a>
                                        </div>
                                        
                                          <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='/reports/payable_report'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" >Payable  Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>
                                        
                                          <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal" data-target="#demage_report"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span>Damage Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>



                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <a  data-toggle="modal" data-target="#profit_loss"   style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                        class='btn  btn-primary'
                                        href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Income Expense Report
                                        <span class='label  '></span>
                                        </a>
                                        </div>
                                        
                                        
                                        
                                            

                                            <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='/reports/stock_report' target="_blank"><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" >Stock  Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>
                                            
                                            
                                               <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='/reports/simple_stock_report' target="_blank"><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" > Simple Stock  Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>
                                            
                                             <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a  data-toggle="modal" data-target="#categorywise_stock"   style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                    class='btn  btn-primary'
                                                    href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; CategoryWise Stock Report
                                                    <span class='label'></span>
                                                </a>
                                            </div>
                                            
                                             <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a  data-toggle="modal" data-target="#profit_and_loss"   style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                    class='btn  btn-primary'
                                                    href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Profit And Loss Report
                                                    <span class='label'></span>
                                                </a>
                                            </div>
                                            
                                             <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a  data-toggle="modal" data-target="#monthly_sale_report"   style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                    class='btn  btn-primary'
                                                    href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; Monthly Sale Report
                                                    <span class='label'></span>
                                                </a>
                                            </div>
                                            
                                                 <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a  data-toggle="modal" data-target="#categorywise_profit"   style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                    class='btn  btn-primary'
                                                    href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; CategoryWise Profit Report
                                                    <span class='label'></span>
                                                </a>
                                            </div>
                                            
                                              <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a  data-toggle="modal" data-target="#categorywise_sale_report"   style="width: 100%; margin-top: 20px; border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                    class='btn  btn-primary'
                                                    href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp; CategoryWise Sale Report
                                                    <span class='label'></span>
                                                </a>
                                            </div>
                                            
                                             <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='/reports/sale_missing_invoice_report' target="_blank"><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span class="lang" > Sale Missing Invoice Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>


 <div class="col-lg-3 col-sm-3 col-xs-12">
                                                <a data-toggle="modal" data-target="#city_receivable"   style="width: 100%; margin-top: 20px;  border-radius: 40px;" onmousedown='AddHistoryTab(this, "Purchase Reports"); return true;'
                                                   class='btn  btn-primary'
                                                   href='#'><i class='fa fa fa-print'></i>&nbsp;&nbsp;&nbsp;&nbsp;  <span>CityWise Receivable Report</span>
                                                    <span class='label  '></span>
                                                </a>
                                            </div>


                                    </div>
                              </div>
                         </div>




                    </div>
                   </div>
                    </div>
                 </section>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        $('.thedate').val(today);
    });

    $(document).on("click", "#submit,#submit2,#submit3,#submit4,#submit5,#submit6,#submit7,#submit8,#submit9,#submit10,#submit11,#submit12,#submit13", function(e){
        $('#bank_deposit').modal('hide');
        $('#bank_withdraw').modal('hide')
        $('#profit_loss').modal('hide')
        $('#expense_headwise').modal('hide')
        $('#cash_receive').modal('hide')
        $('#cash_payment').modal('hide')
        $('#income_report').modal('hide')
        $('#expense_report').modal('hide')
        $('#purchase_return_report').modal('hide')
        $('#purchase_invoice_report').modal('hide')
        $('#sale_return_report').modal('hide')
        $('#sale_invoice_report').modal('hide')
        $('#expense_complete_report').modal('hide')
        $('#party_ledger').modal('hide')
        $('#bank_ledger').modal('hide')
         $('#city_receivable').modal('hide')
        $('#demage_report').modal('hide')
        $('#categorywise_stock').modal('hide')
         $('#price_list_report').modal('hide');
         $('#profit_and_loss').modal('hide')
          $('monthly_sale_report').modal('hide');

    });

</script>

{% endblock middle %}