<link rel="stylesheet" href="/../static/style.css">
<link href="/../static/fonts.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
<style>
    .total {
        /*
        background: #1e88ff !important;*/


        color: black;
        font-weight: bolder;
        text-align: right;
    }

    body {
        width: 21cm;
        height: 29.07cm;
        font-family: 'Conv_SEGOEUI';
    }

    .table {}

    .bill {
        text-align: center;
    }

    #invoice {
        padding: 30px;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px
    }

    .invoice header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #3989c6
    }

    .invoice .company-details {
        text-align: right;
        right: 20px;
    }

    .invoice .company-details .name {
        margin-top: 0;
        margin-bottom: 0
    }

    .invoice .contacts {
        margin-bottom: 20px
    }

    .invoice .invoice-to {
        text-align: left
    }

    .invoice .invoice-to .to {
        margin-top: 0;
        margin-bottom: 0
    }

    .invoice .invoice-details {
        text-align: right
    }

    .invoice .invoice-details .invoice-id {
        margin-top: 0;
        color: #3989c6
    }

    .invoice main {
        padding-bottom: 50px
    }

    .invoice main .thanks {
        margin-top: -100px;
        font-size: 2em;
        margin-bottom: 50px
    }

    .invoice main .notices {
        padding-left: 6px;
        border-left: 6px solid #3989c6
    }

    .invoice main .notices .notice {
        font-size: 1.2em
    }

    .invoice table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px
    }

    .invoice table td,
    .invoice table th {
        padding: 15px;
        background: #eee;
        border-bottom: 1px solid #fff
    }

    .invoice table th {
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px
    }

    .invoice table td h3 {
        margin: 0;
        font-weight: 400;
        color: #3989c6;
        font-size: 1.2em
    }

    .invoice table .qty,
    .invoice table .total,
    .invoice table .unit {
        text-align: right;
        font-size: 1.2em
    }

    .invoice table .no {
        color: #fff;
        font-size: 1.6em;
        background: #3989c6
    }

    .invoice table .unit {
        background: #ddd
    }

    .invoice table .total {
        background: #3989c6;
        color: #fff
    }

    .invoice table tbody tr:last-child td {
        border: none
    }

    .invoice table tfoot td {
        background: 0 0;
        border-bottom: none;
        white-space: nowrap;
        text-align: right;
        padding: 10px 20px;
        font-size: 1.2em;
        border-top: 1px solid #aaa
    }

    .invoice table tfoot tr:first-child td {
        border-top: none
    }

    .invoice table tfoot tr:last-child td {
        color: #3989c6;
        font-size: 1.4em;
        border-top: 1px solid #3989c6
    }

    .invoice table tfoot tr td:first-child {
        border: none
    }

    .invoice footer {
        width: 100%;
        text-align: center;
        color: #070707;
        border-top: 1px solid #aaa;
        padding: 8px 0
    }

    @media print {
        .invoice {
            font-size: 11px !important;
            overflow: hidden !important
        }

        .invoice footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always
        }

        .invoice>div:last-child {
            page-break-before: always
        }
    }

</style>

<div class="container">

    <div class="row contacts" style="padding-bottom: 20px;">
        <div class="col-md-6 col-sm-6 invoice-to left">
            <a target="_blank" href="https://lobianijs.com" style="margin-left: -25px">
                <img src="/../static/img/{{ session.logo }}"  data-holder-rendered="true" width="260px" />
            </a>
            <div class="date"><span style="font-weight: bolder;font-size: 24px">Expanse Head Report({{ headname }})</span></div>


        </div>
        <div class="col-md-6 col-sm-6 invoice-details text-right" style="margin-top: 45px">
            <br>
            <div class="date"><span style="font-weight: bolder">From : </span>{{ from_date }}</div>
            <div class="date"><span style="font-weight: bolder">To : </span>{{ to_date }}</div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead style="background:#f5f5f5;color: black;text-align: center">
        <tr>
            <th scope="col" class="bill">Voc #</th>
            <th scope="col">Date</th>
            <th scope="col">Account Name</th>
            <th scope="col" style="width:40%">Remarks</th>

            <th scope="col">Total</th>

        </tr>
        </thead>
        <tbody>
        {% set amount = 0 %}
        {% for income_report in complete_reports %}
        <tr>
            <th scope="row" class="bill">{{ income_report.VOUCHER_NO }}</th>
            <td>{{ income_report.VOUCHER_DATE|date("m/d/Y") }}</td>
            <td>{{ income_report.account_name }}</td>
            <td style="width: 50">
                {{ income_report.DESCRIPTION }}
            </td>


            <td class="total">{{ income_report.AMOUNT }}
            </td>

        </tr>
            {% set amount = ( amount | default(0) ) + income_report.AMOUNT %}
        {% endfor %}



        <tr style="background:#f5f5f5;text-align: right;font-weight: bolder">
            <td colspan="4" style="text-align: right;">Net Total :</td>
            <td style="text-align: right">{{ amount }}</td>
        </tr>
        </tbody>
    </table>


</div>
