<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px"><span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px"><span> {{ session.email }} </span></h4>

    </div>

    <img  src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>





<div style="margin-left: 68%;margin-top:-80px">
    <table style="border: 1px solid black; width: 100%; min-height:90px; margin-bottom: 8px; margin-top:10px ">
        <tr>
            <th style="width: 5%">From Date: {{ from_date }}
                <p style="">From to:  {{ to_date }}</p>

            </th>
        </tr>
    </table>
</div>

<p style="align-content:center "><center><h2>Monthly Sale Report</h2></center></p>
<h2></h2>


<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>

            <th>Invoice Date</th>
            <th>Invoice Number</th>
            <th>Invoice Total</th>
            </thead>
        </tr>
        {% set count = 0 %}
        {% set old = "" %}
        {% set new = "" %}
        {% set second = 0 %}
        {% set total = 0 %}
        {% for sale in sales %}



            <tr>


                {% if(count==0) %}
                    {% set old = sale.invoice_date|date("m/d/Y") %}
                    {% set new = sale.invoice_date|date("m/d/Y") %}
                {% else %}
                    {% set new = sale.invoice_date|date("m/d/Y") %}
                    {% set old = old %}
                {% endif %}


                {% if(old == new) %}

                    {% if(count==0)  %}
                        {% if(second==0) %}
                            <td ><span>{{ sale.invoice_date|date("m/d/Y") }}</span></td>
                            {% set count = count + 1 %}
                            {% set second = 1 %}
                        {% else %}
                            <td><span></span></td>
                            {% set count = count + 1 %}
                        {% endif %}

                    {% else %}
                        <td><span></span></td>
                        {% set count = count + 1 %}
                    {% endif %}

                {% else %}
                    <td><span> {{ sale.invoice_date|date("m/d/Y") }}</span></td>
                    {% set count = 0 %}
                    {% set second = 1 %}
                {% endif %}




                <td style="text-align: center" ><span >{{ sale.invoice_number }}</span></td>
                <td ><span style="float: right">{{ sale.net_amount }}</span></td>

                {% set total = ( total | default(0) ) + sale.net_amount  %}

            </tr>
        {% endfor %}



    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>


    <div style="margin-left: 81%">
        <br>
        <span style="font-size: 17px; font-weight: bold"> Total: {{ total|number_format(0, '.', ',') }}</span>

    </div>




</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>
<script>

    window.onload = function () {
        window.print();
    }

</script>