<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {

            border-collapse: collapse;
        }
        tr{
           height: 50px;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px"><span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px"><span> {{ session.email }} </span></h4>

    </div>

    <img  src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>





<div style="margin-left: 68%;margin-top:-80px">
    <table style="border: 1px solid black; width: 100%; min-height:90px; margin-bottom: 8px; margin-top:10px ">
        <tr>
            <th style="width: 5%">From Date: {{ from_date }}
                <p style="">From to:  {{ to_date }}</p>

            </th>
        </tr>
    </table>
</div>






<p style="align-content:center "><center><h2>Profit And Loss Report</h2></center></p>
{#<h3 style="margin-bottom:3px">Name : {{ bank_deposits[0].account_name }} <span></span></h3>#}


</div>





<div style="min-height: 740px">
    <table style="width: 100%; margin-top: 0px ">
        <thead>
         <th>Name</th>
         <th>Amount</th>
        </thead>
        {% set amount = 0 %}
        {% set cost_of_goods = 0 %}

        <tr>

        <tr>
            <td style="width: 50%; text-align: left">Sales </td>
            <td  style="width: 50%; margin-left: 30%;"><span style="float: right" class="money">{{ sales|number_format(2, '.', ',') }}</span></td>
        </tr>

        <tr>
            <td  style="width: 50%; text-align: left">Sale Return</td>
            <td   style="width: 50%; text-align: right" class="money"><span style="float: right">{{ returns|number_format(2, '.', ',') }}</span></td>
        </tr>

        <tr>
            <td  style="width: 50%; text-align: left">Cost Of Goods Sold</td>
            <td   style="width: 50%; text-align: right" ><span style="float: right">{{ (salecostprice -  returncostprice)|number_format(2, '.', ',') }}</span></td>
        </tr>

        <tr>
            <td  style="width: 50%; text-align: left">Expense</td>
            <td   style="width: 50%; text-align: right" class="money"><span style="float: right">{{ expense|number_format(2, '.', ',') }}</span></td>
        </tr>
        {% set cost_of_goods =  salecostprice - returncostprice %}

        <tr>
            <td  style="width: 50%; text-align: left">Net Profit And Loss</td>
            <td   style="width: 50%; text-align: right" ><span style="float: right">{{ sales - returns - cost_of_goods  - expense }}</span></td>
        </tr>


        </tr>


    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>






</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>




<script>

    window.onload = function () {
        window.print();
    }

</script>
</body>
</html>
