<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>


        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px"><span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px"><span> {{ session.email }} </span></h4>


    </div>

    <img src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>







<p style="align-content:center "><center><h2>Income Expense Report</h2></center></p>
{#<h3 style="margin-bottom:3px">Name : {{ bank_deposits[0].account_name }} <span></span></h3>#}


</div>





<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">

        {% set amount = 0 %}

            <tr>

                 <tr>
            <td style="width: 50%; text-align: center">Sale </td>
            <td  style="width: 50%"><span style="float: right" class="money">{{ total_sale }}</span></td>
                 </tr>

                <tr>
                    <td  style="width: 50%; text-align: center">Expense</td>
                    <td   style="width: 50%; text-align: right" class="money"><span style="float: right">{{ expense }}</span></td>
                </tr>

                {% set amount =  total_sale - expense %}
            </tr>


    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>


    <div style="margin-left: 68%">

        <h3 style="margin-top: 3px;  padding-bottom: 3px; padding-top: 12px; margin-left: 80px;"> income/expense : <span >{{ amount }}</span></h3>
    </div>




</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>

<script type="text/javascript">

    $('.money').mask("#,###", {reverse: true});



</script>


<script>

    window.onload = function () {
        window.print();
    }

</script>
</body>
</html>
