<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>
<body>
<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px">Contact No :<span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px">Email :<span> {{ session.email }} </span></h4>

    </div>

    <img src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>





<div style="margin-left: 68%;margin-top:-80px">
    <table style="border: 1px solid black; width: 100%; min-height:90px; margin-bottom: 8px; margin-top:10px ">
        <tr>
            <th style="width: 5%">From Date: {{ from_date }}
                <p style="">From to:  {{ to_date }}</p>

            </th>
        </tr>
    </table>
</div>

<p style="align-content:center "><center><h2>Purchase Invoice Report</h2></center></p>
{#<h3 style="margin-bottom:3px">Name : {{ bank_deposits[0].account_name }} <span></span></h3>#}


</div>





<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>

            <th style="width: 7%; ">Invoice Number</th>
            <th style="width: 10%;">Date</th>
            <th style="width: 30%;">Name</th>
            <th style="width: 10%;">Payment Type</th>
            <th style="width: 10%;">Total</th>
            </thead>
        </tr>
        {% set amount = 0 %}
        {% for purchase_invoice in purchase_invoices %}
            <tr>

                <td><span style="float: right">{{ purchase_invoice.invoice_number }}</span></td>
                <td>{{ purchase_invoice.invoice_date|date("m/d/Y") }}</td>
                {% if purchase_invoice.p_name is empty %}
                    <td>{{ purchase_invoice.customer_name }}</td>
                {% else %}
                    <td>{{ purchase_invoice.p_name }}</td>
                {% endif %}
                <td>{{purchase_invoice.payment_type }}</td>
                <td>{{ purchase_invoice.net_amount }}</td>
                {% set amount = ( amount | default(0) ) + purchase_invoice.net_amount %}
            </tr>
        {% endfor %}

    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>


    <div style="margin-left: 68%">

        <h3 style="margin-top: 3px;  padding-bottom: 3px; padding-top: 12px; margin-left: 80px;"> Total : {{ amount }}</h3>
    </div>




</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>
<script>

    window.onload = function () {
        window.print();
    }

</script>
</body>
</html>
