<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>

    <title></title>
</head>
<body>
<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span></span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px">NAME :<span> {{ session.name }} </span></h4>
        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px">Contact No :<span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px">Email :<span> {{ session.email }} </span></h4>


    </div>

    <img src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">

</div>







<p style="align-content:center "><center><h2>Stock Report</h2></center></p>
{#<h3 style="margin-bottom:3px">Name : {{ bank_deposits[0].account_name }} <span></span></h3>#}


</div>





<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>

            <th>Category</th>
            <th>product</th>
            <th>open</th>
            <th>sale</th>
            <th>sale<br> return</th>
            <th>pur</th>
            <th>pur <br>return</th>
            <th>Damage</th>
            <th>In<br>Hand</th>
            <th>Retail<br>Price</th>
            <th>Net <br> Value</th>
           

            </thead>
        </tr>
        {% set count = 0 %}
        {% set old = "" %}
        {% set new = "" %}
        {% set second = 0 %}
        {% set total = 0 %}
        {% for stock in stocks %}



            <tr>


                {#{% if(count==0) %}#}
                {#{% set old = stock.cat_name %}#}
                {#{% set new = stock.cat_name %}#}
                {#{% else %}#}
                {#    {% set new = stock.cat_name %}#}
                {#    {% set old = old %}#}
                {#{% endif %}#}


                {#{% if(old == new) %}#}
                {#    {% if(count==0)  %}#}
                {#        {% if(second==0) %}#}
                {#            <td ><span>{{ stock.cat_name }}</span></td>#}
                {#            {% set count = count + 1 %}#}
                {#            {% set second = 1 %}#}
                {#        {% else %}#}
                {#            <td><span></span></td>#}
                {#            {% set count = count + 1 %}#}
                {#        {% endif %}#}

                {#    {% else %}#}
                {#        <td><span></span></td>#}
                {#        {% set count = count + 1 %}#}
                {#     {% endif %}#}

                {#{% else %}#}
                {#    <td><span> {{ stock.cat_name }}</span></td>#}
                {#    {% set count = 0 %}#}
                {#    {% set second = 1 %}#}
                {#{% endif %}#}


  {% if(count==0) %}
                    <td><span style="font-weight: bold">{{ stock.cat_name }}</span></td>
                    {% set count = 1 %}
                    {% set old = stock.cat_name %}
                {% else %}
                    {% set new = stock.cat_name %}
                    {% if(old==new) %}
                        <td><span style="float: right"></span></td>
                        {% set old = stock.cat_name %}
                    {% else %}

                        <td><span style=" font-weight: bold">{{ stock.cat_name }} </span></td>
                        {% set old = stock.cat_name %}
                    {% endif %}
                {% endif %}



                <td ><span>{{ stock.NAME }}   {{ stock.weight }}  </span></td>
                <td ><span>{{ stock.OPEN }}</span></td>
                <td style="text-align:center" ><span >{{ stock.SALE }}</span></td>
                <td  style="text-align:center"><span>{{ stock.SALE_RETURN }}</span></td>
                <td style="text-align:center" ><span>{{ stock.PURCHASE }}</span></td>
                <td style="text-align:center" ><span>{{ stock.PURCHASE_RETURN }}</span></td>
                <td style="text-align:center" ><span>{{ stock.DEMAGE }}</span></td>
                <td style="text-align:center">{{ stock.BALANCE }}</td>
                <td style="text-align:center">{{ stock.COST_PRICE }}</td>
                <td style="text-align:center">{{ (stock.BALANCE * stock.COST_PRICE)|number_format(0, '.', ',') }}</td>
                {% set total = ( total | default(0) ) +(stock.BALANCE * stock.COST_PRICE)  %}
              

            </tr>
        {% endfor %}



    </table>
    <div style="float: left; ">

        <br><br>
        <!-- <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p> -->
    </div>


    <div style="margin-left: 81%">
        <br>
      <span style="font-size: 17px; font-weight: bold"> Total: {{ total|number_format(0, '.', ',') }}</span>

    </div>




</div>




<h4 style="text-align: center ">Copyright : Tech Track</h4>
<script>

    window.onload = function () {
        window.print();
    }

</script>
</body>
</html>
