<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Trigger the modal with a button -->





    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>



    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Purchase Form I</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/purchase_form_i/update" method="post">
                        <div class="box-body">


                            <div class="col-md-12">
                                <div class="form-group">
                                   <div align="center">
                                       <label for="exampleInputPassword1" style="font-size: 18px; color: green; font-weight: bold">Do You Want To Cancel?</label>
                                       <input type="checkbox" name="cancel" value="yes">
                                   </div>

                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Transaction  #</label>
                                    <input value="{{ master_data[0].transaction_number }}" style="color: green; font-weight: bold; font-size: 20px" type="text" name="transaction_number" class="form-control" id="exampleInputEmail1"  >
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="lang" key="date">Invoice Date</label>
                                    <input type="date" value="{{ master_data[0].date }}" name="date" class="form-control" id="theDate" placeholder="Enter Category Name">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="exampleInputEmail1" class="lang" key="time">Time</label>
                                    <input  name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                                </div>
                            </div>

                            <hr style="color: black; width: 100%">



                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Party Name</label>
                                    <select class="form-control" name="party_id" id="party_id" >
                                        <option value="">Select Customer</option>
                                        {% for customer in customers %}
                                            {% if(customer.PARTY_ID==master_data[0].party_id) %}
                                                <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}</option>
                                            {% else %}
                                                <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                            {% endif %}

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Bank Name</label>
                                    <select class="form-control" name="bank_id" id="bank_id">
                                        <option value="">Select Bank</option>
                                        {% for bank in banks %}
                                        {% if(bank.ACCOUNT_ID==master_data[0].account_id) %}
                                            <option value="{{ bank.ACCOUNT_ID }}" selected> {{ bank.NAME }}</option>
                                        {% else %}
                                            <option value="{{ bank.ACCOUNT_ID }}"> {{ bank.NAME }}</option>
                                         {% endif %}

                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Form Number</label>
                                    <input value="{{ master_data[0].form_number }}" type="text" name="form_number" class="form-control" id="party_amount">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Product Name</label>
                                    <select class="form-control" name="product_id" id="product_id">
                                        <option value="counter_sale">Select Product</option>
                                        {% for product in products %}
                                            <option value="{{ product.PRODUCT_ID }}"> {{ product.NAME }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">MT </label>
                                    <input value="{{ master_data[0].mt }}" type="text" name="mt" class="form-control" id="party_amount">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Dollar Amount</label>
                                    <input value="{{ master_data[0].party_amount }}" type="text" name="dollar_amount" class="form-control" id="dollar_amount">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Dollar Rate </label>
                                    <input value="{{ master_data[0].party_rate }}" value="1" type="text" name="dollar_rate" class="form-control" id="dollar_rate">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Total Rate </label>
                                    <input value="{{ master_data[0].total_party_amount }}" type="text" name="total_rate" class="form-control" id="total_rate">
                                </div>
                            </div>













                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){



            $('body').on('change' ,'#bank_id' , function(){
                $('#party_id').val('');
                $("#product_id").val('');
                $("#product_id").attr('readonly','readonly');
            });

            $('body').on('change' ,'#party_id' , function(){
                $('#bank_id').val('');
                $("#product_id").removeAttr('readonly');
            });


            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}

            $('#party_amount,#party_dollar_rate').on('input',function(){
                var value=$('#party_amount').val();
                var party_dollar_rate=$('#party_dollar_rate').val();
                $('#party_total').val(value*party_dollar_rate);
                khan();
            });

            $('#bank_amount,#bank_dollar_rate').on('input',function(){
                var value=$('#bank_amount').val();
                var bank_dollar_rate=$('#bank_dollar_rate').val();
                $('#bank_total').val(value*bank_dollar_rate);
                khan();

            });


            $('#dollar_amount').on('input',function(){
                var dollar_amount=$('#dollar_amount').val();
                var dollar_rate=$('#dollar_rate').val();
                $('#total_rate').val(dollar_amount * dollar_rate);

            });

            $('#dollar_rate').on('input',function(){
                var dollar_amount=$('#dollar_amount').val();
                var dollar_rate=$('#dollar_rate').val();
                $('#total_rate').val(dollar_amount * dollar_rate);

            });
        });
        function khan(){
            var party_total=$('#party_total').val();
            var bank_total=$('#bank_total').val();
            $('#difference').val(party_total -  bank_total);
        }
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
{% endblock middle %}
</body>
</html>