<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}




    <section class="content">
        <a href="/account_head/income_add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add Income</button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Incomes</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for income in incomes %}
                                <tr>

                                    <td>{{ income.NAME }}</td>
                                    <td>{{ income.DESCRIPTION }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="/account_head/income_edit/{{ income.ACCOUNT_ID }}"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                                        {#<a class="btn btn-danger" href="/category/delete/{{ expense.ACCOUNT_ID }}"><i class="glyphicon glyphicon-remove"></i>Delete</a>#}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>




{% endblock middle %}
</body>
</html>