<link href="/../static/assets/style.css" rel="stylesheet" id="bootstrap-css">
<link href="/../assets/fonts.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/../assets/bootstrap.css">
<script src="/../assets/jquery.js"></script>
<script src="/../assets/bootstrap.min.js"></script>

<script src="https://www.allphptricks.com/demo/2018/july/convert-numbers-into-words/js/jquery.min.js" type="text/javascript"></script>
<script src="https://www.allphptricks.com/demo/2018/july/convert-numbers-into-words/js/num-to-words.js" type="text/javascript"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
.vertical-menu a {

    display: block;
    padding: 6px;
    text-decoration: none;
}

body {

    width: 21cm;
    height: 29cm;

}

.total {
    /*
    background: #1e88ff !important;*/


    color: black;
    font-weight: bolder;
    text-align: right;
}

body {
    width: 21cm !important;
    height: 29.07cm !important;
    font-family: 'Conv_SEGOEUI';
    margin-left: 10px;

}

.table {}

.bill {
    text-align: center;
}

#invoice {
    padding: 30px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right;
    right: 20px;
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #3989c6
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,
.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,
.invoice table .total,
.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #3989c6;
    color: #fff
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #3989c6
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #070707;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

.right {
    text-align: right !important;
}

.left {
    text-align: left;
}

.bolder {
    font-size: 16px;
    font-weight: bolder;
    color: black;
}

@media print {

</style>
<br>

<body>
<page>

    <!-- <div class="container-fluid">
 <div class="row">
     <div class="col-md-6 col-sm-6">
         <a target="_blank" href="https://lobianijs.com" style="margin-left:-10px">
             <img src="./logo-new.png" data-holder-rendered="true" width="100px" style="margin-top:20px" />
             <div style="margin-left: 90px;margin-top:-35px">
                 <span style="color: black">
                     ULFAT AYAZ AHMAD
                     <br>
                     Civil Quarters Kohat Road Peshawar
                     <br>
                     03009456464
                 </span>

             </div>

         </a>
         <br>


     </div>
     <div class=" col-md-6 col-sm-6">
         <div class="row">
             <div class="text-center">
                 <h4 style="text-align: center">SALE INVOICE</h4>
             </div>
             <div class="col-md-6 col-sm-4">


             </div>

             <div class="col-md-6 col-sm-8">

                 <div class="content" style="margin-top: 25px;border-right:1px solid black;padding-right: 12px">
                     <div class="date"><span style="font-weight: bolder">Time : </span>09:50 PM</div>

                     <div class="date"><span style="font-weight: bolder">Due Date :</span>30/10/2018</div>

                 </div>
             </div>

         </div>
         <br>


     </div>
 </div>
</div>
<br>-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-sm-8">
                <a target="_blank" style="margin-left:-10px">
                    <img src="/../static/img/{{ session.logo }}" data-holder-rendered="true" width="150px" style="margin-top:20px" />
                    <div style="margin-left: 150px;margin-top:-49px;font-size:14px;">
                            <span style="color: black;">
                                <span style="font-weight: bold;font-size: 20px">{{ session.name }}</span>
                                <br>
                              District Khyber KPK Pakistan<br>

                                {{ session.contact }}
                                <br>
                                {% if masters[0].tax_invoice_status=="Y" %}
                                <span>NTN#</span>{{ session.tax_number }}
                                {% endif %}
                            </span>

                    </div>

                </a>

            </div>
            <div class=" col-md-5 col-sm-4">

                <div style="text-align:right">
                    <h2 style="margin-top: 46px">SALE INVOICE</h2>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">

            <div class="row" style="border: 1px solid black">
                <div class="col-md-7 col-sm-8">
                    <div class="vertical-menu">
                        <a href="#" class="active"><span style="color: black;text-decoration: none;font-weight:bolder">Bill To:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if masters[0].customer_id=="counter_sale" %}
                            <span style="color:black">{{  masters[0].customer_name }}</span>
                        </a>
                        {% else %}
                        <a href="#" class="active"><span style="color: black;text-decoration: none;font-weight:bolder">Name:</span>&nbsp;&nbsp;&nbsp;<span style="color:black">{{ masters[0].party_name }}</span></a>
                                  <a href="#" class="active"><span style="color: black;text-decoration: none;font-weight:bolder">Last Balance:</span>&nbsp;&nbsp;&nbsp;<span style="color:black">{{ last_balance }}</span></a>
                            {#<a href="#" class="active"><span style="color: black;text-decoration: none;font-weight:bolder">Contact No:</span>&nbsp;&nbsp;&nbsp;<span style="color:black">{{  masters[0].CONTACT_NO }}</span></a>#}
                            {#<a href="#" class="active"><span style="color: black;text-decoration: none;font-weight:bolder">Email:</span>&nbsp;&nbsp;&nbsp;<span style="color:black">{{ masters[0].EMAIL }}</span></a>#}
                            {#<a href="#" class="active"><span style="color: black;text-decoration: none;font-weight:bolder">Address:</span>&nbsp;&nbsp;&nbsp;<span style="color:black">{{ masters[0].ADDRESS }}</span></a>#}
                        {% endif %}

                    </div>
                    <!--  <div style="margin-left: -20px!important;padding:6px 12px">
                        <div class="date "><span class="bolder" style="font-weight:bolder">Bill To: </span>&nbsp;&nbsp;&nbsp;Khuram Ayaz</div>
                        <div class="date "><span class="bolder" style="font-weight:bolder">Address: </span>Civil Quarters Kohat Road Peshawar</div>
                    </div>-->
                </div>
                <div class=" col-md-5 col-sm-4">

                    <div style="text-align:left;display: block;margin-left:40px">
                        <div class="row">
                            <div class="vertical-menu" style="border-right: 1px solid black">
                                <a href="#" class="active"><span style="color: black;text-decoration: none;font-weight: bolder"> Invoice No:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ masters[0].invoice_number }}</a>
                                <a href="#" class="active"><span style="color: black;text-decoration: none;font-weight: bolder">Payment Type:</span>&nbsp;&nbsp;{{masters[0].payment_type }}</a>
                            </div>
                            <div class="vertical-menu">
                                <a href="#" class="active"><span style="color: black;text-decoration: none;font-weight: bolder">Date:</span>{{masters[0].invoice_date|date("m/d/Y") }} </a>
                                <a href="#" class="active"><span style="color: black;text-decoration: none;font-weight: bolder">Time:</span> {{masters[0].invoice_time }}</a>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
    <br>
    <div class="container-fluid" style="padding: 0px 30px">
        <div class="row">
            <table class="table table-bordered">
                <thead style="border: 2px solid black;color: black;text-align: center;">

                <tr>
                    <th scope="col" style="width: 45%;text-align: center">Products</th>
                    <th scope="col" style="width: 10%;text-align: center">Unit</th>
                    <th scope="c0l" style="width: 10%;text-align: center">QTY</th>
                    <th scope="col" style="width: 10%;text-align: center">Rate</th>
                    <th scope="col" style="width: 10%;text-align: center">Dis.</th>
                    <th scope="col" style="width: 15%;text-align: center">Total</th>
                </tr>
                </thead>
                <tbody>
                {% set count = 0 %}
                {% for child in childs %}
                <tr>
                    <th scope="row" style="text-align: left">{{ child.product_name }}</th>
                    <td style="text-align:center">{{ child.weight }}</td>
                    <td style="text-align:center">{{ child.quantity }}</td>
                    <td style="text-align: right"> {{ child.price }}</td>
                    <td style="text-align: right">{{ child.item_discount }}</td>
                    <td style="text-align: right">{{ child.total }}</td>
                </tr>
                    {% set count = ( count | default(0) ) + 1 %}
                {% endfor %}



                <tr style="text-align: right;font-weight: bolder">
                    <td style="text-align: left;"><span style="border: 1px solid black;padding: 8px">{{ count }}</span>&nbsp;&nbsp;Total Item(s) </td>

                    <td colspan="4" style="text-align: right;">Gross Total :</td>
                    <td>{{ masters[0].gross_amount }}</td>
                </tr>
                <!--   <tr style="background:#f5f5f5;text-align: right;font-weight: bolder">
                    <td colspan="6" style="text-align: center;">Three lack Fourty Thousand </td>

                </tr>-->

                <tr style="text-align: right;font-weight: bolder">
                    <td colspan="5" style="text-align: right;">Discount :</td>
                    <td>{{ masters[0].discount }}</td>
                </tr>
                
                <tr style="text-align: right;font-weight: bolder">
                    <td colspan="5" style="text-align: right;">freight :</td>
                    <td>{{ masters[0].freight }}</td>
                </tr>

                <tr style="border: 2px solid black!important;text-align: right;font-weight: bolder;font-size: 18px">
                    <td style="text-align: left;"><span style="font-size: 17px" id="amount_words"></span></td>

                    <td colspan="4" style="text-align: right;">Net Total :</td>

                    <td>{{ masters[0].net_amount }}</td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>

</page>

<script type="text/javascript">
    $(document).ready(function(){
        var totalamount={{ masters[0].net_amount }};

        var  words = toWords(totalamount);

        $('#amount_words').append(words);
    })
</script>


</body>
