<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <title></title>
</head>
<body>
<h3 style="text-align: center">Sales Invoice</h3>

<h5 style="text-align: center">Sale Invoice Details</h5>

<div style="width: 200px; height: 160px">

    <h5 style="margin: 0px; padding: 0px">{{ session.name }}</h5>
    <p style="font-size: 15px; margin: 0px">Email : {{ session.EMAIL }} </p>
    <p style="font-size: 15px; margin: 0px">Contact No : {{ session.CONTACT }}</p>
    <h5 style="margin: 0px">Invoice No: {{ masters[0].invoice_number }}</h5>
    <h5 style="font-size: 15px; margin: 0px">Payment Type : {{ masters[0].payment_type }}</h5>
    <h5 style="font-size: 15px; margin: 0px">Invoice Date : {{ masters[0].invoice_date|date("m/d/Y") }} </h5>

</div>

<table style="border: 1px solid black; width: 100%; ">
    <tr>
        <thead>
        <th style="width: 20%">Category Name</th>
        <th style="width: 20%">Product Name</th>
        <th style="width: 20%">Quantity</th>
        <th style="width: 15%">Unit Price</th>
        <th style="width: 15%">Total</th>
        </thead>
    </tr>

   {% for child in childs %}
    <tr>
        <td style="width: 20%; text-align: center">{{ child.category_name }}</td>
        <td style="width: 20%; text-align: center">{{ child.product_name }}</td>
        <td style="width: 20%; text-align: center">{{ child.quantity }}</td>
        <td style="width: 10%; text-align: center">{{ child.price }}</td>
        <td style="width: 20%; text-align: center">{{ child.total }}</td>
    </tr>
    {% endfor %}
</table>


<h4 style="margin-left:85%; margin-bottom: 3px">Discount : {{ masters[0].discount }} </h4>
<h4 style="margin-left:85%; margin-top: 3px; padding-bottom: 3px; padding-top: 3px; border-top: 1px solid black; border-bottom: 1px solid black">Net Total : {{ masters[0].net_amount }} </h4>

<script>

    window.onload = function () {
        window.print();
    }

</script>

</body>
</html>
