<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Bank Detail</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/account_head/bank_store" method="post">
                        <div class="box-body">

                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Name</label>
                                <input name="name" type="text"  placeholder="Enter Bank Name here" class="form-control">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Opening Balance</label>
                                <input name="opening_balance" type="text"  placeholder="Enter Opening Balance here" class="form-control">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea name="description" class="form-control"></textarea>
                            </div>

                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>