<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>



    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/destination/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" >Add New Destination</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" >Destinations List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="NAME">Name</th>

                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 3%">Edit</th>
                                {% endif %}
                                {% if(role=='Admin')  %}
                                    <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                {% endif %}
                            </tr>
                            </thead>

                            <tbody>
                            {% for destination in destinations %}
                                <tr>


                                     <td>{{ destination.name }}</td>



                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td><a target="_blank" href="/destination/edit/{{ destination.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                        <td><a  href="/destination/delete/{{ destination.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});
        $('.money').css('float','right');


    </script>



{% endblock middle %}
</body>
</html>