
table {
    font-family: "Helvetica Neue", Helvetica, sans-serif
}

caption {
    text-align: left;
    color: silver;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

thead {
    background: SteelBlue;
    color: white;
}

th,
td {
    padding: 5px 10px;
}

tbody tr:nth-child(even) {
    background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
    text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
    text-align: right;
    font-family: monospace;
}

tfoot {
    background: SeaGreen;
    color: white;
    text-align: right;
}

tfoot tr th:last-child {
    font-family: monospace;
}

