<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->



    <section class="content">
        <a href="/purchase_invoice/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Purchase Invoice</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                  <th>Invoice Number</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Payment Type</th>
                                <th>Discount</th>
                                <th>Total</th>
                                <th>Action</th>

                            </tr>
                            </thead>

                            <tbody>
                            {% for purchase in purchases %}
                                <tr>
                                     <td>{{ purchase.invoice_number }}</td>
                                    {% if purchase.p_name is empty %}
                                        <td>{{ purchase.customer_name }}</td>
                                    {% else %}
                                        <td>{{ purchase.p_name }}</td>
                                    {% endif %}

                                   

                                    <td>{{ purchase.invoice_date|date("m/d/Y") }}</td>
                                    <td>{{ purchase.payment_type }}</td>
                                    <td>{{ purchase.discount }}</td>
                                    <td>{{ purchase.net_amount }}</td>
                                    <td><a target="_blank" href="/purchase_invoice/print/{{ purchase.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>

                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>







{% endblock middle %}
</body>
</html>