<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add INCOME</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/voucher_income/store" method="post">
                <div class="box-body">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Voucher Number</label>
                        <input type="text" readonly="readonly" value="{{ voucher_no }}" name="voucher_no" class="form-control" style="font-size: 18px;font-weight: bold; color: #008000">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Date</label>
                        <input name="voucher_date" type="date" required="required" id="theDate" class="form-control" value="{{ now|date("m/d/Y") }}">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Time</label>
                            <input name="time" readonly type="time" value="{{ now|date("H:i", "Europe/Paris") }}" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Income</label>
                            <select class="form-control selectpicker" data-live-search="true" name="account_id">

                                {% for income in incomes %}
                                    <option value="{{ income.ACCOUNT_ID }}"> {{ income.NAME }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Amount</label>
                        <input type="text" name="amount" class="form-control" required="required" placeholder="Enter Amount Here">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Manual Number</label>
                        <input name="manual_no" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>






                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea style="height: 130px" name="description" class="form-control"></textarea>
                    </div>



                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>
{% endblock middle %}


</body>
</html>