<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}



    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Product</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/product/store" method="post"  enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group col-md-6">


                        {% if messages.notify is not empty  %}
                        <div class="alert alert-success" role="alert">
                            <strong> {{ messages.notify }} </strong>
                        </div>
                        {% endif %}


                        <label for="exampleInputEmail1" class="lang" key="category name">Category Name</label>
                        <select class="form-control selectpicker" data-live-search="true" name="category_id">
                            <option>Select Category</option>
                            {% for category in categories %}
                             <option value="{{ category.CATEGORY_ID }}">{{ category.NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1" class="lang" key="NAME">Name</label>
                        <input name="name" type="text"  placeholder="Enter Product Name here" class="form-control">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Unit</label>
                        <select class="form-control"  name="weight">
                             <option value="KG">KG</option>
                            <option value="FEET">FEET</option>
                            <option value="DOZEN">DOZEN</option>
                            <option value="PIECES">PIECES</option>
                            <option value="MG">MG</option>
                            <option value="ML">ML</option>
                            <option value="LTR">LTR</option>
                              <option value="METER">METER</option>
                              <option value="BUNDLE">BUNDLE</option>
                        </select>
                        {#<input name="weight" type="text"  placeholder="Enter Product Weight here" class="form-control">#}
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> Sale Unit</label>
                        <select class="form-control"  name="sale_unit">
                            <option value="KG">KG</option>
                            <option value="FEET">FEET</option>
                            <option value="DOZEN">DOZEN</option>
                            <option value="PIECES">PIECES</option>
                            <option value="MG">MG</option>
                            <option value="ML">ML</option>
                            <option value="LTR">LTR</option>
                              <option value="METER">METER</option>
                              <option value="BUNDLE">BUNDLE</option>
                        </select>
                        {#<input name="weight" type="text"  placeholder="Enter Product Weight here" class="form-control">#}
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="lang" key="sale price">Sale Price</label>
                            <input name="sale_price" type="text" id="street" placeholder="Enter Sale rate" class="form-control">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="lang" key="cost price">Cost Price</label>
                            <input name="cost_price" type="text" id="city" placeholder="Enter Price rate" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Opening Balance</label>
                            <input name="opening_balance" type="text" id="street" placeholder="Enter Balance" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Image</label>
                            <input name="product_pic" type="file" id="city" placeholder="Enter your Contact Number" class="form-control">
                        </div>
                    </div>







                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Unit Quantity</label>
                        <input name="unit_quantity" type="text" id="street" placeholder="Enter Unit Quantity Here" class="form-control">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Product Type</label>
                        <select class="form-control"  name="product_type">
                            <option value="PRODUCT">PRODUCT</option>
                            <option value="SERVICE">SERVICE</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">



                        <label for="exampleInputPassword1" class="lang" key="description">Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>






                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>




{% endblock middle %}


</body>
</html>