<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle %}


    <section class="content">


        <a href="/product/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span>Add New Product</span></button></a>

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="products">PRODUCTS</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="lang" key="category name">Category Name</th>
                                <th class="lang" key="NAME">Name</th>
                              
                                <th>Weight</th>
                                <th class="lang" key="sale price">Sale Price</th>
                                <th class="lang" key="cost price">Cost Price</th>
                                <th >Opening Balance</th>
                                <th >Quantity in Hand</th>
                               
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for dat in data %}
                                <tr>
                                     <td>{{ dat.CAT_NAME }}</td>
                                    <td>{{ dat.NAME }}</td>
                                
                                    <td>{{ dat.weight }}</td>
                                    <td><span style="float: right">{{ dat.SALE_PRICE }}</span></td>
                                    <td><span style="float: right">{{ dat.COST_PRICE }}</span></td>
                                     <td style="text-align: center; "><span>{{ dat.OPENING_BALANCE }}</span></td>
                                     <td style="background-color: rgba(51, 167, 35, 0.60); text-align: center; color: #ffffff; font-weight: bold; ">{{ dat.quantity_in_hand }}</span></td>
                                 
                                    <td>  <a class="btn btn-warning" href="/product/edit/{{dat.PRODUCT_ID }}"><i class="glyphicon glyphicon-pencil"></i></a></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>





{% endblock middle %}

</body>
</html>