<!DOCTYPE html>
<html lang="en">


<!-- /Added by HTTrack -->

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Admin Login</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="./static/login/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="./static/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="./static/login/css/main.css">
    <style>


    </style>
</head>

<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('./static/login/images/pexels-photo-1161465.jpeg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form"   method="post" action="/adminlogin" id="loginForm">

                    <span class="login100-form-logo" >
                        <img src="../static/img/hissablogo.png" style="   position: relative;
    float: left;
    width:  200px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;"   />

                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                      Admin Log in
                    </span>
<br>
                {% if msg not undefined %}
                    <div align="center" style="color: red">{{ msg }}</div>
                {% endif %}



                <div class="wrap-input100 validate-input" data-validate="User Name">
                    <input class="input100" type="text" name="email" placeholder="Enter Email Here">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password"  name="password"  placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Proceed
                    </button>
                </div>
                <div class="text-center p-t-90" >
                    <img src="./static/login/images/Tech%20Logo.png"  style="width: 30px;height: 30px"/>

                    <a class="txt1" href="#" style="padding-left: 5px;font">
                        <b>Powered by TechTrack / HMIS 360</b>

                    </a>
                </div>
            </form>

        </div>

    </div>

</div>


<script src="vendor/jquery/jquery-3.2.1.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/animsition/js/animsition.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/bootstrap/js/popper.js" type="123fb642237a15929ae78455-text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/select2/select2.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/daterangepicker/moment.min.js" type="123fb642237a15929ae78455-text/javascript"></script>
<script src="vendor/daterangepicker/daterangepicker.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/countdowntime/countdowntime.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="js/main.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="123fb642237a15929ae78455-text/javascript"></script>
<script type="123fb642237a15929ae78455-text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');

    </script>
<script src="../../../../ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="123fb642237a15929ae78455-|49" defer=""></script>
</body>

</html>
