

<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <title>HISSAB ERP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="./static/login/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="./static/login/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="./static/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="./static/login/css/main.css">
    <style>


    </style>
</head>

<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('./static/login/images/pexels-photo-1161465.jpeg');">
        <div class="wrap-login100">

            <span class="login100-form-logo" >
                        <img src="../static/img/hissablogo.png" style="   position: relative;
    float: left;
    width:  200px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;"   />

                    </span>
            <form  method="post" action="/companycode">
                {% if msg not undefined %}
                    <div align="center" style="color: red">{{ msg }}</div>
                {% endif %}
                <div class="form-group">

                    <label></label>
                    <input class="form-control" id="code" name="code" type="text" placeholder="Enter Company Code" title="Please enter you username">

                </div>

                <input type="submit" class="btn btn-primary btn-block" value="Process Forward">

            </form>

        </div>

    </div>

</div>


<script src="vendor/jquery/jquery-3.2.1.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/animsition/js/animsition.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/bootstrap/js/popper.js" type="123fb642237a15929ae78455-text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/select2/select2.min.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/daterangepicker/moment.min.js" type="123fb642237a15929ae78455-text/javascript"></script>
<script src="vendor/daterangepicker/daterangepicker.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="vendor/countdowntime/countdowntime.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script src="js/main.js" type="123fb642237a15929ae78455-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="123fb642237a15929ae78455-text/javascript"></script>
<script type="123fb642237a15929ae78455-text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');

    </script>
<script src="../../../../ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="123fb642237a15929ae78455-|49" defer=""></script>
</body>

</html>






{#<!DOCTYPE html>#}
{#<html>#}

{#<head>#}
    {#<meta charset="utf-8">#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    {#<meta http-equiv="cache-control" content="private, max-age=0, no-cache">#}
    {#<meta http-equiv="pragma" content="no-cache">#}
    {#<meta http-equiv="expires" content="0">#}
    {#<title>HISSAB ERP</title>#}

    {#<link rel="stylesheet" href="../static/vendor/fontawesome/css/font-awesome.css" />#}
    {#<link rel="stylesheet" href="../static/vendor/metisMenu/dist/metisMenu.css" />#}
    {#<link rel="stylesheet" href="../static/vendor/animate.css/animate.css" />#}
    {#<link rel="stylesheet" href="../static/vendor/bootstrap/dist/css/bootstrap.css" />#}
    {#<link rel="stylesheet" href="../static/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />#}
    {#<link rel="stylesheet" href="../static/fonts/pe-icon-7-stroke/css/helper.css" />#}
    {#<link rel="stylesheet" href="../static/styles/style.css">#}

    {#<link rel="shortcut icon" href="../static/img/hissablogo.png">#}
{#</head>#}
{#<body class="blank">#}
{#<div class="splash">#}
    {#<div class="color-line"></div><div class="splash-title">#}
        {#<h1>Enterprise Resource Planing</h1>#}
        {#<div class="spinner">#}
            {#<div class="rect3">#}
                {#<img style="width: 300px; height: 250px; margin-left: -200px" src="../static/img/hissablogo.png">#}

            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div class="color-line"></div>#}
{#<div class="login-container">#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<div id="popup" class="popup">#}

            {#</div>#}

            {#<div class="hpanel dropdown-toggle">#}

                {#<div class="panel-body hdropdown notification animated flipInX" style="border-radius: 6px">#}
                    {#<div style="margin-left: 50px; margin-top: -20px;">#}


                        {#<img style="margin-left: 25px; width: 200px; height: 100px" src="../static/img/hissablogo.png">#}

                    {#</div>#}

                    {#<form  method="post" action="/companycode">#}
                        {#{% if msg not undefined %}#}
                         {#<div align="center" style="color: red">{{ msg }}</div>#}
                        {#{% endif %}#}
                        {#<div class="form-group">#}

                            {#<label></label>#}
                            {#<input class="form-control" id="code" name="code" type="text" placeholder="Enter Company Code" title="Please enter you username">#}

                        {#</div>#}

                        {#<input type="submit" class="btn btn-primary btn-block" value="Process Forward">#}

                    {#</form>#}

                    {#<div class="col-md-12 text-center" style="margin-top: 30px">#}
                        {#<strong>2016 Copyright By</strong><span class="pull-right"> <img style="width: 40px; height: 35px" src="./static/img/tech.png"></span>#}
                    {#</div>#}

                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#<script src="../static/vendor/jquery/dist/jquery.min.js"></script>#}
{#<script src="../static/vendor/jquery-ui/jquery-ui.min.js"></script>#}
{#<script src="../static/vendor/slimScroll/jquery.slimscroll.min.js"></script>#}
{#<script src="../static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>#}
{#<script src="../static/vendor/metisMenu/dist/metisMenu.min.js"></script>#}
{#<script src="../static/vendor/iCheck/icheck.min.js"></script>#}
{#<script src="../static/vendor/sparkline/index.js"></script>#}
{#<script src="../static/scripts/homer.js"></script>#}
{#<script>#}
    {#$(document).ready(function(){#}
        {#$("#code").on('keypress',function(){#}
            {#$('.hidealert').hide();#}
        {#});#}
    {#});#}

{#</script>#}
{#</body>#}

{#</html>#}