<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="company_name">Hissab ERP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/../static/admin2/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/../static/admin2/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/../static/admin2/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<header class="main-header">
<!-- Logo -->
<a href="/clientdashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>ERP</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Hissab|</b>ERP</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
</a>

<div class="navbar-custom-menu">
<ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->


<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       Lang <i class="fa fa-caret-down"></i>

    </a>
    <ul class="dropdown-menu">

        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
                <li>
                    <a class="translate" id="en">ENGLISH
                    </a>
                </li>
                <li>
                    <a class="translate" id="ur">URDU
                    </a>
                </li>

            </ul>
        </li>

    </ul>
</li>


<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img id="logo2"  src="/../static/login/images/we.png" class="user-image" alt="User Image">
        <span class="hidden-xs" id="company_name2">Malik Ice</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img id="logo3" src="/../static/login/images/we.png" class="img-circle" alt="User Image">


        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <div class="row">

            </div>
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">

 <div class="pull-left">
                <a href="/account_head/change_password" class="btn btn-default btn-flat">Chane Password</a>
            </div>

            <div class="pull-right">
                <a href="/" class="btn btn-default btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
<!-- Control Sidebar Toggle Button -->
<li>
    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>
</ul>
</div>
</nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img id="logo_online" src="" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ online_email }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">

        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            {#<li class="treeview">#}
                {#<a href="#">#}
                    {#<i class="fa fa-dashboard"></i> <span>Comapny Detail</span>#}
            {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                {#</a>#}
                {#<ul class="treeview-menu">#}
                    {#<li><a href="/company/add"><i class="fa fa-circle-o"></i> Add Company</a></li>#}
                    {#<li><a href="/company/list"><i class="fa fa-circle-o"></i> Companies List</a></li>#}
                {#</ul>#}
            {#</li>#}



            {% for menu in all_menus %}
            {% if menu.name=='manage_account' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span class="lang" key="manage account">Manage Accounts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    {#<li><a href="/employees/list"><i class="fa fa-circle-o"></i> Employees</a></li>#}
                    {% for menu in all_menus %}
                    {% if menu.name=='categories' %}
                    <li><a href="/category/list" ><i class="fa fa-circle-o"></i><span class="lang" key="categories">Categories</span></a></li>
                    {% endif %}
                    {% if menu.name=='products' %}
                    <li><a href="/product/list"><i class="fa fa-circle-o"></i><span class="lang" key="products">Products</span></a></li>
                     {% endif %}
                     
                      {% if menu.name=='city' %}
                            <li><a href="/city/cities"><i class="fa fa-circle-o"></i><span>Cities</span></a></li>
                        {% endif %}
                     
                    {% if menu.name=='customers' %}
                    <li><a href="/customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>
                    {% endif %}
                     {% if menu.name=='fakhar_customers' %}
                            <li><a href="/fakhar_customers/list"><i class="fa fa-circle-o"></i><span class="lang" key="customers">Customers</span></a></li>
                        {% endif %}
                    
                    {% if menu.name=='expense' %}
                    <li><a href="/account_head/expense"><i class="fa fa-circle-o"></i><span class="lang" key="expense defination"> Expense Defination</span></a></li>
                    {% endif %}
                    {% if menu.name=='destinations' %}
                    <li><a href="/destination/list"><i class="fa fa-circle-o"></i><span class="lang" >Destinations</span></a></li>
                    {% endif %}
                    {% if menu.name=='vendors' %}
                    <li><a href="/vendors/list"><i class="fa fa-circle-o"></i>Vendors</a></li>
                    {% endif %}
                     {% if menu.name=='currencies' %}
                            <li><a href="/currencies/list"><i class="fa fa-circle-o"></i>Currencies</a></li>
                        {% endif %}
                        
                    {% if menu.name=='bookers' %}
                         <li><a href="/bookers/list"><i class="fa fa-circle-o"></i>Bookers</a></li>
                     {% endif %}
                    {#<li><a href="/account_head/list"><i class="fa fa-circle-o"></i>Accounts Head</a></li>#}
                    {% if menu.name=='account_head' %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> <span>Accounts Head</span>
                                <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>

                            <ul class="treeview-menu">
                                {% for menu in all_menus %}
                                {% if menu.name=='expenses' %}
                                <li><a href="/account_head/expense"><i class="fa fa-circle-o"></i> Expense</a></li>
                                {% endif %}
                                {% if menu.name=='banks' %}
                                <li><a href="/account_head/bank"><i class="fa fa-circle-o"></i>Bank</a></li>
                                {% endif %}
                                {% if menu.name=='cash' %}
                                <li><a href="/account_head/cash"><i class="fa fa-circle-o"></i>Cash</a></li>
                                {% endif %}
                                {% if menu.name=='income' %}
                                <li><a href="/account_head/income"><i class="fa fa-circle-o"></i>Income</a></li>
                                {% endif %}
                                {% endfor %}

                            </ul>
                        </li>
                    {% endif %}

                    {% endfor %}

                </ul>
            </li>
            {% endif %}
            {% endfor %}

            {% for menu in all_menus %}
             {% if menu.name=='sale' %}
             <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span class="lang" key="sale">SALE</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>

                <ul class="treeview-menu">
                    {% for menu in all_menus %}
                     {% if menu.name=='sale_invoice' %}
                        <li><a href="/sale_invoice/list"><i class="fa fa-circle-o"></i><span class="lang" key="sale invoice"> Sale Invoice</span></a></li>
                     {% endif %}


 {% if menu.name=='hawala' %}
                            <li><a href="/hawala/list"><i class="fa fa-circle-o"></i><span>Send Hawala</span></a></li>
                        {% endif %}

                        {% if menu.name=='hawala_receive' %}
                            <li><a href="/hawala_receive/list"><i class="fa fa-circle-o"></i><span>Receive Hawala</span></a></li>
                        {% endif %}

                    {% if menu.name=='union_sale_invoice' %}
                        <li><a href="/union_sale_invoice/list"><i class="fa fa-circle-o"></i><span>Union Sale Invoice</span></a></li>
                    {% endif %}

                    {% if menu.name=='yy_sale_invoice' %}
                        <li><a href="/yy_sale_invoice/list"><i class="fa fa-circle-o"></i><span>YY Sale Invoice</span></a></li>
                    {% endif %}


                    {% if menu.name=='sale_return' %}
                    <li><a href="/sale_return/list"><i class="fa fa-circle-o"></i> Sale Return</a></li>
                    {% endif %}
                    {% if menu.name=='trip' %}
                    <li><a href="/trip/list"><i class="fa fa-circle-o"></i><span class="lang" > Trip</span></a></li>
                    {% endif %}
                    {% if menu.name=='sale_dollars' %}
                        <li><a href="/sale_dollars/list"><i class="fa fa-circle-o"></i> Sale Dollars</a></li>
                    {% endif %}


                    {% if menu.name=='sale_form_i' %}
                        <li><a href="/sale_form_i/list"><i class="fa fa-circle-o"></i> Sale Form I</a></li>
                    {% endif %}


                    {% endfor %}
                </ul>

            </li>
            {% endif %}
            {% endfor %}


            {% for menu in all_menus %}
            {% if menu.name=='purchase' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Purchase</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>

                <ul class="treeview-menu">
                    {% for menu in all_menus %}
                    {% if menu.name=='purchase_invoice' %}
                    <li><a href="/purchase_invoice/list"><i class="fa fa-circle-o"></i> Purchase Invoice</a></li>
                    {% endif %}

                    {% if menu.name=='yy_purchase_invoice' %}
                        <li><a href="/yy_purchase_invoice/list"><i class="fa fa-circle-o"></i>YY Purchase Invoice</a></li>
                    {% endif %}
                    
                     {% if menu.name=='boring_purchase_invoice' %}
                            <li><a href="/boring_purchase_invoice/list"><i class="fa fa-circle-o"></i>Boring Purchase Invoice</a></li>
                        {% endif %}

                    {% if menu.name=='union_purchase_invoice' %}
                        <li><a href="/union_purchase_invoice/list"><i class="fa fa-circle-o"></i>Union Purchase Invoice</a></li>
                    {% endif %}

                    {% if menu.name=='purchase_return' %}
                    <li><a href="/purchase_return/list"><i class="fa fa-circle-o"></i> Purchase Return</a></li>
                    {% endif %}
                    {% if menu.name=='purchase_dollars' %}
                        <li><a href="/purchase_dollars/list"><i class="fa fa-circle-o"></i> Purchase Dollars</a></li>
                    {% endif %}

                    {% if menu.name=='demand_note' %}
                        <li><a href="/demand_note/list"><i class="fa fa-circle-o"></i> Demand Note</a></li>
                    {% endif %}


                    {% if menu.name=='purchase_form_i' %}
                            <li><a href="/purchase_form_i/list"><i class="fa fa-circle-o"></i> Purchase Form I</a></li>
                    {% endif %}

                    {% endfor %}
                </ul>
            </li>

            {% endif %}
            {% endfor %}

            {% for menu in all_menus %}
            {% if menu.name=='damages' %}
            <li><a href="/damages/list"><i class="fa fa-book"></i> <span>Damages</span></a></li>
            {% endif %}
            {% endfor %}


            {% for menu in all_menus %}
            {% if menu.name=='purchase' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span class="lang" key="voucher">Vouchers</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    {% for menu in all_menus %}
                    {% if menu.name=='voucher_expense' %}
                    <li><a href="/voucher_expense/list"><i class="fa fa-circle-o"></i> <span class="lang" key="expense">Expense</span></a></li>
                    {% endif %}
                    {% if menu.name=='voucher_income' %}
                    <li><a href="/voucher_income/list"><i class="fa fa-circle-o"></i>Income</a></li>
                    {% endif %}
                    {% if menu.name=='voucher_cash_payment' %}
                    <li><a href="/voucher_cashpayment/list"><i class="fa fa-circle-o"></i>Cash Payment</a></li>
                    {% endif %}
                    {% if menu.name=='voucher_cash_receive' %}
                    <li><a href="/voucher_cashreceive/list"><i class="fa fa-circle-o"></i><span class="lang" key="cash receive">Cash Receive</span></a></li>
                    {% endif %}
                    {% if menu.name=='voucher_bank_deposit' %}
                    <li><a href="/voucher_bankdeposit/list"><i class="fa fa-circle-o"></i>Bank Deposit</a></li>
                    {% endif %}

                    {% if menu.name=='yy_voucher_bank_deposit' %}
                        <li><a href="/yy_voucher_bankdeposit/list"><i class="fa fa-circle-o"></i>Bank Deposit</a></li>
                    {% endif %}


                    {% if menu.name=='voucher_bank_withdraw' %}
                    <li><a href="/voucher_bankwithdraw/list"><i class="fa fa-circle-o"></i>Bank WithDraw</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>

            {% endif %}
            {% endfor %}

            {% for menu in all_menus %}
            {% if menu.name=='reports' %}
            <li><a href="/reports/all"><i class="fa fa-book"></i> <span  class="lang" key="reports">Reports</span></a></li>
            {% endif %}

            {% if menu.name=='remainder' %}
                <li><a href="/remainder/list"><i class="fa fa-book"></i> <span>Remainder</span></a></li>
            {% endif %}

            {% endfor %}

            {% for menu in all_menus %}
            {% if menu.name=='users' %}
           
             <li>
                    <a href="/trash/list">
                        <i class="fa fa-users"></i> <span >Trash</span>
                    </a>
             </li>
           
            <li>
                <a href="/users/list">
                    <i class="fa fa-users"></i> <span class="lang" key="users">Users</span>
                </a>
            </li>

             

            {% endif %}
            {% endfor %}


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
<!-- Small boxes (Stat box) -->
<div class="row">



    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 id="today_sale"></h3>

                <p class="lang" key="today sale">Today Sale</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
              <a href="#" class="small-box-footer">Sale Section </a>
            {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block"><span class="lang" key="monthly_sale"> Monthly Sale</span> &nbsp;<span id="monthly_sale"></span>  </a>#}
            {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block; float: right"><span class="lang" key="total_sale"> Total Sale</span> &nbsp;<span id="total_sale"></span>  </a>#}
        </div>
    </div>


    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="today_expense" class="money"></h3>
                <p >Today Expense</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
                  <a href="#" class="small-box-footer">Expense Section </a>
            {#<a href="#" class="small-box-footer" style="display: inline-block;"><span style="margin-left: 2px;">Monthly Expense: <b><span id="monthly_expense"></span></b></span></a>#}
            {#<a href="#" class="small-box-footer money" style="display: inline-block; float: right" class="lang" key="total expense">Total Expense:<b><span id="total_expense_ajax" class="money"></span></b></a>#}
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3 id="cash_at_bank"></h3>
                <p>Cash At Bank</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/account_head/all_bank_record" class="small-box-footer">All Bank Record <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->

    <!-- ./col -->

    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3 id="cash_in_hand" >0</h3>
                <p>Cash in Hand</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
              <a href="#" class="small-box-footer">Cash Section </a>
            {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block"><span> Receivables</span> &nbsp;<span id="receivable"></span>  </a>#}
            {#<a href="#" class="small-box-footer" style="font-weight: bold; color: white; display: inline-block; float: right"><span > Payables</span> &nbsp;<span id="payables"></span>  </a>#}

        </div>
    </div>
    <!-- ./col -->
</div>

<!-- /.row -->
<!-- Main row -->
<div class="row">
<!-- Left col -->

     {#<button class="translate" id="en">English</button>#}
     {#<button class="translate" id="ur">Urdu</button>#}

      {#<ul>#}
          {#<li class="lang" key="home">Home</li>#}
          {#<li class="lang" key="about">About us</li>#}
      {#</ul>#}

    {% block middle  %} {% endblock middle %}



<!-- right col -->
</div>
<!-- /.row (main row) -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy;  <a href="https://adminlte.io">Powered by </a></strong> TechTrack | HMIS360 (Pvt) Limited.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                            <p>Will be 23 on April 24th</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-user bg-yellow"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                            <p>New phone +1(800)555-1234</p>

                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                            <p>nora@example.com</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-file-code-o bg-green"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                            <p>Execution time 5 seconds</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Custom Template Design
                            <span class="label label-danger pull-right">70%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Update Resume
                            <span class="label label-success pull-right">95%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Laravel Integration
                            <span class="label label-warning pull-right">50%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <h4 class="control-sidebar-subheading">
                            Back End Framework
                            <span class="label label-primary pull-right">68%</span>
                        </h4>

                        <div class="progress progress-xxs">
                            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

        </div>
        <!-- /.tab-pane -->
        <!-- Stats tab content -->
        <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
        <!-- /.tab-pane -->
        <!-- Settings tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
                <h3 class="control-sidebar-heading">General Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Report panel usage
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Some information about this general settings option
                    </p>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Allow mail redirect
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Other sets of options are available
                    </p>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Expose author name in posts
                        <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                        Allow the user to show his name in blog posts
                    </p>
                </div>
                <!-- /.form-group -->

                <h3 class="control-sidebar-heading">Chat Settings</h3>

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Show me as online
                        <input type="checkbox" class="pull-right" checked>
                    </label>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Turn off notifications
                        <input type="checkbox" class="pull-right">
                    </label>
                </div>
                <!-- /.form-group -->

                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        Delete chat history
                        <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                    </label>
                </div>
                <!-- /.form-group -->
            </form>
        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/../static/admin2/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<!-- jQuery 3 -->
<script src="/../static/admin2/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/../static/admin2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/../static/admin2/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/../static/admin2/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/../static/admin2/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/../static/admin2/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/../static/admin2/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/../static/admin2/dist/js/demo.js"></script>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>




<script>
    $(function () {
        setNavigation();
    });

    function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);
        $(".treeview a").each(function () {
            var href = $(this).attr('href');
            if(path.substring(0, href.length) === href){
                $(this).closest('li').addClass('active');
                $(this).closest('.treeview').addClass('active');
            }

        });
    }
</script>


<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "order": [[ 3, "desc" ]];
        });
    });
</script>

<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/cash_in_hand",
            success:function(response){
                $('#cash_in_hand').text("");
                var x=addCommas(response);
                $('#cash_in_hand').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/cash_at_bank2",
            success:function(response){
                var x=addCommas(response);
                $('#cash_at_bank').append(x);
            }
        });

        $.ajax({
            'type':'Get',
            'url':"/account_head/get_logo",
            success:function(response){

                $('#logo_online').attr("src","../static/img/"+response);
                $('#logo2').attr("src","../static/img/"+response);
                   $('#logo3').attr("src","../static/img/"+response);
            }
        });

        $.ajax({
            'type':'Get',
            'url':"/account_head/get_company_name",
            success:function(response){
                $('#company_name').text('Hissab ERP | '+response);
                $('#company_name2').text(response);
            }
        });


//        $('#logo_online').attr("src","../static/img/hissablogo.png");
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/today_sale",
            success:function(response){
                var x=addCommas(response);
                $('#today_sale').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/total_sale",
            success:function(response){
                var x=addCommas(response);
                $('#total_sale').append(x);
            }
        });
    });
</script>

<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/monthly_sale",
            success:function(response){
                var x=addCommas(response);
                $('#monthly_sale').append(x);
            }
        });
    });

</script>

<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/total_expense_ajax",
            success:function(response){
//                $('#total_expense_ajax').append(response);
//                $('#total_expense_ajax').mask("#,###", {reverse: true});
                var x=addCommas(response);
                $('#total_expense_ajax').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/monthly_expense",
            success:function(response){
                var x=addCommas(response);
                $('#monthly_expense').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/today_expense",
            success:function(response){
                var x=addCommas(response);
                $('#today_expense').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/receivables",
            success:function(response){
                var x=addCommas(response);
                $('#receivable').append(x);
            }
        });
    });
</script>


<script>
    $(document).ready(function(){
        $.ajax({
            'type':'Get',
            'url':"/account_head/payables",
            success:function(response){
                $('#payables').text("");
                var x=addCommas(response);
                $('#payables').append(x);
            }
        });

    });
</script>

<script>
   var arrLang={
     'en':{
          'home':'Home',
           'about':'About Us',
           'sale':'Sale',
           'NAME':'NAME',
           'manage account':'Manage Accounts',
           'categories':'Categories',
           'description':'Description',
           'action':'Action',
           'products':'Products',
           'category name':'Category Name',
           'sale price':'Sale Price',
           'cost price':'Cost Price',
           'customers':'Customers',
           'email':'Email',
           'contact number':'Contact Number',
           'opening balance':'Opening Balance',
           'expense defination':'Expense Defination',
           'sale invoice':'Sale Invoice',
           'date':'Date',
           'payment type':'Payment Type',
           'discount':'Discount',
           'total':'Total',
           'voucher':'Vouchers',
           'expense':'Expense',
            'amount':'Amount',
            'cash receive':'Cash Receive',
         'party name':'Party Name',
         'total expense':'Total Expense',
         'today sale':'Today Sale',
         'receivable':'Receivable',
         'reports':'Reports',
         'users':'Users',
         'edit':'Edit',
         'delete':'Delete',
         'monthly_sale':'Monthly Sale',
         'add new customer':'Add New Customer',
         'add expense':'Add Expense',
         'add new sale':'Add New Sale',
         'time':'Time',
         'product name':'Product Name',
         'QTY':'QTY',
         'type':'Type',
         'unit price':'Unit Price',
         'discount':'Discount',
         'gross amount':'Gross Amount',
         'net amount':'Net amount',
         'parties':'Parties',
         'last balance':'Last Balance',
         'contact number':'Contact Number',
         'password':'Password',
         'role':'Role',
         'view':'View',
         'sale invoice report':'Sale Invoice Report',
         'expense report':'Expense Report',
         'cash receive report':'Cash Receive Report',
         'expense complete report':'Expense Complete Report',
         'party ledger report':'Party Ledger Report'

     },
       'ur':{
            'home':'ghar',
            'about':'hamarey barey me',
            'sale':'فروخت',
            'NAME':'نام',
            'manage account':'اکاؤنٹ کی تفصیل',
            'categories':'اقسام',
            'description':'تفصیل',
            'action':'عمل',
            'products':'مصنوعات',
            'category name':'قسم کا نام',
            'sale price':'قیمت فروخت',
            'cost price':'قیمت کی قیمت',
            'customers':'گاهک',
            'email':'ای میل',
            'contact number':'رابطہ نمبر',
            'opening balance':'افتتاحی بقیہ',
            'expense defination':'اخراجات کی وضاحت',
            'sale invoice':'فروخت کی رسید',
            'date':'تاریخ',
            'payment type':'ادائیگی کی قسم',
            'discount':'ڈسکاؤنٹ',
            'total':'کل',
           'voucher':'واؤچر',
            'expense':'خرچہ',
            'amount':'رقم',
            'cash receive':'نقد وصول',
           'party name':'پارٹی کا نام',
           'total expense':'کل اخراجات',
           'today sale':'آج کی فروخت',
           'receivable':'رقم وصول',
           'reports':'رپورٹس',
           'users':'صارفین',
           'edit':'ترمیم',
           'delete':'حذف',
           'monthly_sale':'ماہانہ فروخت',
           'add new customer':'نیا کسٹمر شامل کریں',
           'add expense':'اخراجات شامل کریں',
           'add new sale':'نئی فروخت شامل کریں',
           'time':'وقت',
           'product name':'پروڈکٹ کا نام',
           'QTY':'مقدار',
           'type':'قسم',
           'unit price':'اکائی قیمت',
           'discount':'ڈسکاؤنٹ',
           'gross amount':'مجموعی رقم',
           'net amount':'اصل رقم',
           'parties':'پارٹی کا نام',
           'last balance':'آخری رقم',
           'contact number':'رابطہ نمبر',
           'password':'پاس ورڈ',
           'role':'کردار',
           'view':'ملاحظہ کریں',
           'sale invoice report':'فروخت انوائس کی رپورٹ',
           'expense report':'اخراجات کی رپورٹ',
           'cash receive report':'نقد رقم کی رپورٹ',
           'expense complete report':'خرچ مکمل رپورٹ',
           'party ledger report':'پارٹی لیجر رپورٹ'
       }
   };

    $(function(){
      $('.translate').click(function(){
//          document.cookie = $(this).attr('id');
          Cookies.set('name', $(this).attr('id'));

            var lang=$(this).attr('id');
            $('.lang').each(function(index,element){
             $(this).text(arrLang[lang][$(this).attr('key')]);
          });
      });
    });
    $(document).ready(function(){


        var res =  Cookies.get('name');;
//        alert(cookies)

        if(res=='ur'){

            var lang='ur';
            $('.lang').each(function(index,element){
                $(this).text(arrLang[lang][$(this).attr('key')]);
            });

        }
        else{
            var lang='en';
            $('.lang').each(function(index,element){
                $(this).text(arrLang[lang][$(this).attr('key')]);
            });
        }
    });
</script>


<script type="text/javascript">

    $('.money').mask("#,###", {reverse: true});

</script>
<script>
    function khan(){
        $('.money').mask("#,###", {reverse: true});
    }
</script>
<script>
    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;

    }
</script>

<script>
    document.onload = setTimeout(function () {  khan(); }, 2000);
</script>

</body>
</html>
