<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>
    <title></title>
</head>
<body>
<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span>Salman</span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px">Contact No :<span> 03329519630</span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px">Address :<span> Deans Trade Center</span></h4>
    </div>

    <img src="../static/img/tech.png" width="80px" height="80px" style="margin-top: 15px;">
    <h3 style="float: right; margin-top: 109px; margin-bottom: 0px">Sales Invoice</h3>
</div>


<hr>


<div style="width: 50%; float: left; margin-bottom: 30px">

    <h3 style="margin: 0px; padding: 0px">Bill To : </h3>
    <p style="font-size: 15px; margin: 0px">Name :  <span>Nabi Gul</span></p>
    <p style="margin: 0px">Address :  <span>Bara</span></p>
    <p style="font-size: 15px; margin: 0px">Contact No :  <span>03329519630</span></p>

</div>


<div style="width: 25%; float: right; margin-top: 20px">

    <h5 style="margin: 0px; padding: 0px"></h5>
    <p style="font-size: 15px; margin: 0px">Invoice No : 1176</p>
    <p style="font-size: 15px; margin: 0px">Invoice Date : 13/08/2019</p>
    <p style="font-size: 15px; margin: 0px">Invoice Time : <span>01:07 PM</span></p>
    <p style="margin: 0px">Payment Type : <span>Credit</span></p>


</div>

<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>
            <th style="width: 5%;">SNo</th>
            <th style="width: 30%">Product Name</th>
            <th style="width: 15%">Quantity</th>
            <th style="width: 15%">Price</th>
            <th style="width: 15%">Total</th>
            </thead>
        </tr>


        <tr>
            <td style="width: 5%; text-align: center; text-align:right">1</td>
            <td style="width: 30%; text-align: center; text-align: left">Cup</td>
            <td style="width: 20%; text-align: center; text-align:right">2</td>
            <td style="width: 10%; text-align: center;text-align:right">100</td>
            <td style="width: 20%; text-align: center;text-align:right">200</td>

        </tr>

    </table>
    <div style="float: left; ">
        <p style="margin-bottom: 0px">Total Items : <span>09</span></p>
        <br><br>
        <p style="margin-top: 0px">Amount In Words : <span>One thousand And Two Hundred </span></p>
    </div>


    <div style="margin-left: 68%">
        <p style="margin-bottom: 0px">Gross Total : <span>1200</span> </p>
        <p style="margin-bottom: 3px; margin-top: 0px">Discount : <span>100</span></p>
        <h4 style="margin-top: 3px; padding-bottom: 3px; padding-top: 3px; border-top: 1px solid black; border-bottom: 1px solid black">Net Total : 1100</h4>
    </div>




</div>
<!--
<script>

    window.onload = function () {
        window.print();
    }

</script>
-->

<h4 style="text-align: center ">Copyright : Tech Track</h4>

</body>
</html>
