<!DOCTYPE html>
<html>

<!-- Mirrored from webapplayers.com/homer_admin-v1.9.1/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Feb 2017 06:36:01 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="private, max-age=0, no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!-- Page title -->
    <title>HISSAB ERP</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- Vendor styles -->
    <link rel="stylesheet" href="./static/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="./static/vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="./static/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="./static/vendor/bootstrap/dist/css/bootstrap.css" />

    <!-- App styles -->
    <link rel="stylesheet" href="./static/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="./static/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="./static/styles/style.css">

    <link rel="shortcut icon" href="./static/img/hissablogo.png">

</head>
<body class="blank">

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title">
        <h1>Enterprise Resource Planing</h1>
        <div class="spinner">
            <div class="rect3">
                <img style="width: 300px; height: 250px; margin-left: -200px" src="./static/img/hissablogo.png">

            </div>
        </div>
    </div>
</div>

<div class="color-line"></div>



<div class="login-container">
    <div class="row">
        <div class="col-md-12">


            <div class="hpanel dropdown-toggle">
                {#<h1>{{ site }}</h1>#}
                <div class="panel-body hdropdown notification animated flipInX" style="border-radius: 6px">
                    <div style="margin-left: 80px; margin-top: -20px;">

                        {#@if(Session::has('LOGO_LARGE'))#}
                        {#<?php#}
                        {#$res= Session::get('LOGO_LARGE')#}
                        {#?>#}
                        {#<img alt="{{Session::get('LOGO_LARGE')}}" style="width: 200px; height: 85px" src="{{ URL::asset("public/img/{$res}") }}">#}
                        {#@endif#}
                        <img style="width: 150px; height: 100px" src="./static/img/{{ image }}">

                    </div>


                    <form method="post" action="userlogin" id="loginForm">
                        {% if msg not undefined %}
                            <div align="center" style="color: red">{{ msg }}</div>
                        {% endif %}


                        <div class="form-group" style="margin-top: 15px">

                            <label class="control-label" for="email">Select Role</label>
                            <select class="form-control" required="required" name="role">
                                <option value="Admin">Admin</option>
                                <option value="operator">Operator</option>
                                <option value="manager">Manager</option>
                            </select>

                        </div>


                        <div class="form-group">

                            <label class="control-label" for="email">Email:{{ session.NAME }}</label>
                            <input class="form-control" id="code" name="email" type="email" placeholder="Enter Compnay Email" title="Please Enter Company Email">

                        </div>
                        <div class="form-group">

                            <label class="control-label" for="username">Password</label>
                            <input class="form-control" name="password" type="password" placeholder="Enter Company Password" title="Please enter your Password">
                        </div>

                        <input type="submit" value="Login" class="btn btn-primary btn-block">
                        <a class="btn btn-default btn-block" href="#">Create Account</a>
                    </form>

                    <div class="col-md-12 text-center" style="margin-top: 30px">
                        <strong>2016 Copyright By</strong><span class="pull-right"> <img style="width: 40px; height: 35px" src="./static/img/tech.png"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script src="./static/vendor/jquery/dist/jquery.min.js"></script>
<script src="./static/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="./static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="./static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="./static/vendor/iCheck/icheck.min.js"></script>
<script src="./static/vendor/sparkline/index.js"></script>
<script src="./static/scripts/homer.js"></script>


<script>
    $(document).ready(function(){
        $("#code").on('keypress',function(){
            $('.hidealert').hide();
        });
    });

</script>
</body>

<!-- Mirrored from webapplayers.com/homer_admin-v1.9.1/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Feb 2017 06:36:01 GMT -->
</html>