<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle  %}
    <section class="content">

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="user list">Trash List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Sr #</th>
                                <th >Date</th>
                                <th>Invoice #</th>
                                <th>Type</th>
                                <th>Deleted By</th>




                            </tr>
                            </thead>
                            <tbody>
                            {% set count = 1 %}
                            {% for trash in trashes %}
                                <tr>
                                    <td>{{ count }}</td>
                                    <td>{{ trash.date|date("m/d/Y") }}</td>
                                    <td>{{ trash.invoice_number }}</td>
                                    <td>{{ trash.type }}</td>

                                    <td>{{ trash.party_name }}</td>



                                </tr>
                                {% set count = ( count | default(0) ) + 1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

{% endblock middle %}


<script type="text/javascript">
    $(document).ready(function() {
        $('#bootstrap-data-table').DataTable();
    } );
</script>
</body>
</html>