<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

    <!-- jQuery library -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}

    {#<h1>The session value is : {{ session.name }}</h1>#}
    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Bank Deposit</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/voucher_bankdeposit/store" method="post">
                <div class="box-body">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Voucher Number</label>
                        <input type="text" readonly="readonly" value="{{ voucher_no }}" name="voucher_no" class="form-control" style="font-size: 18px;font-weight: bold; color: #008000">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Date</label>
                        <input name="voucher_date" type="date" required="required" id="theDate" class="form-control" value="{{ now|date("m/d/Y") }}">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Time</label>
                            <input name="time" readonly type="time" value="{{ now|date("H:i", "Europe/Paris") }}" class="form-control">
                        </div>
                    </div>




                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Amount</label>
                        <input type="text" name="amount" class="form-control" required="required" placeholder="Enter Amount Here">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Manual Number</label>
                        <input name="manual_no" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>



                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Last Balance</label>
                        <input type="text" style="color: red; font-weight: bold; font-size: 19px" readonly id="last_balance" name="last_balance" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" style="margin-top: 20px;">
                            <label for="exampleInputEmail1">Payment Type</label>

                            <label class="checkbox-inline">
                                <input type="radio" class="type" value="cash" name="payment_type" checked>Cash
                            </label>

                            <label class="checkbox-inline">
                                <input type="radio" class="type" value="party" name="payment_type">Party
                            </label>

                        </div>
                    </div>

                    <div class="col-md-4" id="bank" >
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Banks</label>
                            <select  id="account_id" class="form-control selectpicker" data-live-search="true" name="account_id" required="required">
                                <option value="">Select Bank</option>
                                {% for bank in banks %}
                                    <option value="{{ bank.ACCOUNT_ID }}"> {{ bank.NAME }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" id="party" style="display: none">
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Parties</label>
                            <select id="party_id" class="form-control selectpicker" data-live-search="true" name="party_id">
                                <option value="">Select Party</option>
                                {% for party in parties %}
                                    {% if party.TYPE == 'C' %}
                                        <option value="{{ party.PARTY_ID }}"> {{ party.NAME }}(Customer)</option>
                                    {% else %}
                                        <option value="{{ party.PARTY_ID }}"> {{ party.NAME }}(Vendor)</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Cash In Hand</label>
                        <input  type="text" style="color: red; font-weight: bold; font-size: 19px" readonly id="cash_in_hande" name="cash_in_hand" class="form-control mask">
                    </div>

                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">

                    </div>




                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea style="height: 130px" name="description" class="form-control"></textarea>
                    </div>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){
            $('.type').on('change',function(){
                var type= $(this).val();
                if(type=='cash'){
                    $('#party').hide();
                }
                else{
                    $('#party').show();
                }
            });
        });
    </script>

    <script>
        $(document).ready(function(){


            $('#party_id').on('change',function(){
                var party_id=$(this).val();
                $.ajax({
                    'type':'Get',
                    'url':"/voucher_bankdeposit/getlastbalance"+ "/"+ party_id,
                    success:function(response){
                        $('#last_balance').val(response)
                    }
                });

            });

            $('#account_id').on('change',function(){
                var account_id=$(this).val();
                $('#cash_in_hande').val('');
                $.ajax({
                    'type':'Get',
                    'url':"/voucher_bankdeposit/get_cash_in_hand"+ "/"+ account_id,
                    success:function(response){
                        $('#cash_in_hande').val(response);
//                        $('#cash_in_hande').mask('0-0000');
                    }
                });

            });

        });
    </script>
    <script type="text/javascript">

        $('.money').mask("#,##", {reverse: true});



    </script>

{% endblock middle %}


</body>
</html>