<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <section class="content">

        <a href="/currencies/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New Currency</button></a>

        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Currencies</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="NAME">Name</th>
                                <th class="lang" key="description">Sign</th>
                                {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="action">Action</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for currency in currencies %}
                                <tr>

                                    <td>{{ currency.currency_name }}</td>
                                    <td>{{ currency.currency_sign }}</td>
                                    {% if(role=='Admin') or (role=='manager') %}
                                        <td>
                                            <a class="btn btn-warning" href="/currencies/edit/{{ currency.currencyid }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                            <a class="btn btn-danger" href="/currencies/delete/{{ currency.currencyid }}"><i class="glyphicon glyphicon-remove"></i></a>

                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>







{% endblock middle %}
</body>
</html>