<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/adminhead.twig" %}

{% block middle  %}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- LINK TO YOUR LOCAL COPY OF THIS SCRIPT, THIS IS A DEMO ONLY -->
    <script src="//raw.githubusercontent.com/flatlogic/bootstrap-tabcollapse/master/bootstrap-tabcollapse.js"></script>


    <div id="myModal" class="modal fade" role="dialog" >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="margin-top: 40%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!--                <h4 class="modal-title">Modal Header</h4>-->
                </div>
                <div class="modal-body">
                    <table class="table table-bordered"  >
                        <thead style="width: 60%;">


                        </thead>
                        <tbody id="tblbody">

                        </tbody>
                    </table>

                    <label>Title:</label>
                    <span id="title" style="font-size: 15px"></span><br>

                    <label>Type:</label>
                    <span id="type" style="font-size: 15px"></span><br>

                    <label>Address:</label>
                    <span id="address"></span><br>

                    <label>Latitude:</label>
                    <span id="lat"></span><br>

                    <label>Longitude:</label>
                    <span id="lag"></span><br>

                    <hr>

                    <br>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">



                <div class="box">

                    <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
                        <li class="active"><a href="#home" role="tab" data-toggle="tab">  <div class="box-header">
                                    <h3 class="box-title lang" >Business List</h3>
                                </div>
                            </a></li>
                        <li><a href="#profile" role="tab" data-toggle="tab"><div class="box-header">
                                    <h3 class="box-title lang" >Map View</h3>
                                </div></a></li>

                    </ul><!--/.nav-tabs.content-tabs -->






                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="home">

                                <a href="https://mikesoft.com.pk/company/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span  >Add New Business</span></button></a>

                                <table id="example" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Short Name</th>
                                        <th>Email</th>
                                        <th>contact</th>
                                         <th>Description</th>
                                          <th>Address</th>
                                        <th>Logo</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for company in companies %}


                                        <tr>
                                            <td>{{ company.NAME }}</td>
                                            <td>{{ company.SHORT_NAME }}</td>
                                            <td>{{ company.EMAIL }}</td>
                                            <td>{{ company.CONTACT }}</td>
                                            <td>{{ company.DESCRIPTION }}</td>
                                            <td>{{ company.address }}</td>
                                            <td><img style="height: 100px; width: 100px;" src="../static/img/{{ company.LOGO_LARGE }}"></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>

                             </div><!--/.tab-pane -->

                            <div class="tab-pane fade" id="profile">

                                <div id="map" style="margin-top: 5%; margin-bottom: 5%;"></div>
                                <script>
                                    function initMap() {
                                     {% for company in companies %}
                                        var x="{{ company.lat }}";
                                        var y="{{ company.lang }}"
                                        x=parseInt(x);
                                        y=parseInt(y);
                                        var uluru = {lat: x  ,  lng: y };
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                            zoom: 7,
                                            center: uluru
                                        });
                                     {% endfor %}
                                        {% for company in companies %}
                                        var x="{{ company.lat }}";
                                        var y="{{ company.lang }}"
                                        x=parseInt(x);
                                        y=parseInt(y);
                                        var uluru = {lat: x ,  lng: y  }
                                        var marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map,
                                        id:'{{ company.COMPANY_ID }}',
                                        title: '{{ company.SHORT_NAME }}',
                                        lat:'{{ company.lat }}',
                                        lag:'{{ company.lat }}',
                                        address: '{{ company.address }}',
                                        type: '{{ company.type }}'


                                        });
                                        marker.addListener('click', function() {
                                            var lat=(this['lat']);
                                            var id=(this['id']);
                                            var lag=(this['lag']);
                                            var title=(this['title']);
                                            var address=(this['address']);
                                            var type=(this['type']);
                                            $.ajax({
                                                'type':'Get',
                                                'url':"/company/getcompany"+ "/"+ id,
                                                success:function(response){

                                                    $('#title').text(title);
                                                    $('#address').text(address);
                                                    $('#lat').text(lat);
                                                    $('#lag').text(lag);
                                                    $('#type').text(type);
                                                    var $el = $("#tblbody");
                                                    $el.empty();
                                                    $.each(response,function(key,value){
                                                        $el.append("<tr>" +

                                                                '<td><div align="center"><img class="img img-circle" style="width: 150px; height: 150px;" src="/static/img'+'/'+ value.LOGO_LARGE +'"></div>'+

                                                                "</td>"+

                                                                "</tr>")
                                                    });
                                                }
                                            });

                                            $('#myModal').modal('show');
                                        });
                                        {% endfor %}


                                    }
                                </script>
                                <script async defer
                                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2sTxnS9sy-B_UvMRt3Cpqjf-shChqee4&callback=initMap">
                                </script>


                            </div><!--/.tab-pane -->



                        </div><!--/.tab-content -->



                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}

<script>
    $(document).ready(function() {

        // DEPENDENCY: https://github.com/flatlogic/bootstrap-tabcollapse


        // if the tabs are in a narrow column in a larger viewport
        $('.sidebar-tabs').tabCollapse({
            tabsClass: 'visible-tabs',
            accordionClass: 'hidden-tabs'
        });

        // if the tabs are in wide columns on larger viewports
        $('.content-tabs').tabCollapse();

        // initialize tab function
        $('.nav-tabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // slide to top of panel-group accordion
        $('.panel-group').on('shown.bs.collapse', function() {
            var panel = $(this).find('.in');
            $('html, body').animate({
                scrollTop: panel.offset().top + (-60)
            }, 500);
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#bootstrap-data-table').DataTable();
    } );
</script>
</body>
</html>