<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}

    <!-- jQuery library -->


    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>



    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
            <a href="/sale_form_i/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" >Add Sale Form I</span></button></a>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" >Sale Form I list</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">



                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="width: 15%">Invoice #</th>
                                <th style="width: 20%" >Party Name</th>
                                <th style="width: 10%" class="lang" key="date">Date</th>
                                <th style="width: 10%">Form Number</th>
                                <th style="width: 10%"> MT</th>
                                <th style="width: 10%">Dollar Amount</th>
                                <th style="width: 10%">Dollar Rate</th>
                                <th style="width: 10%">Total Rate</th>


                                <th class="lang"  key="view" style="width: 3%">View</th>


                            </tr>
                            </thead>
                            {% for sale in sales %}
                                <tr>


                                    <td>{{ sale.form_i_number }}</td>

                                    <td>{{ sale.p_name }}</td>
                                    <td>{{ sale.b_name }}</td>

                                    <td>{{ sale.date|date("m/d/Y") }}</td>
                                    <td><span style="float: right">{{ sale.amount_in_pkr }}</span></td>
                                    <td><span style="float: right">{{ sale.amount_in_dollar }}</span></td>

                                    <td><span style="float: right">{{ sale.amount }}</span></td>
                                    <td><a target="_blank" href="/purchase_dollars/print/{{ purchase.id }}" class="btn btn-primary"><i class="fa fa-print"></i></a></td>

                                </tr>
                            {% endfor %}




                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>






    {#<script type="text/javascript">#}

    {#$('.money').mask("#,###", {reverse: true});#}
    {#$('.money').css('float','right');#}


    {#</script>#}



{% endblock middle %}
</body>
</html>