<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}



{% block middle %}




    <section class="content">
        {% if(role=='Admin') or (role=='manager') %}
        <a href="/account_head/expense_add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i><span class="lang" key="add expense">Add Expense</span></button></a>
         {% endif %}
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title lang" key="expense defination" >Expenses</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>

                                <th class="lang" key="NAME">Name</th>
                                <th class="lang" key="description">Description</th>
                                {% if(role=='Admin') or (role=='manager') %}
                                <th class="lang" key="action">Action</th>
                                {% endif %}

                            </tr>
                            </thead>
                            <tbody>
                            {% for expense in expenses %}
                                <tr>

                                    <td>{{ expense.NAME }}</td>
                                    <td>{{ expense.DESCRIPTION }}</td>

                                    {% if(role=='Admin') or (role=='manager') %}
                                    <td>
                                        <a class="btn btn-primary" href="/account_head/expense_edit/{{ expense.ACCOUNT_ID }}"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                                        {#<a class="btn btn-danger" href="/category/delete/{{ expense.ACCOUNT_ID }}"><i class="glyphicon glyphicon-remove"></i>Delete</a>#}

                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>



    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>




{% endblock middle %}
</body>
</html>