<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle  %}
<section class="content">
    {% if(role=='Admin') or (role=='manager') %}
    <a href="/users/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title lang" key="user list">Users List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th class="lang" key="NAME">Name</th>
                                    <th class="lang" key="email">Email</th>

                                    <th class="lang" key="contact number">contact</th>
                                    <th class="lang" key="role">Role</th>
                                    <th class="lang" key="password">PASSWORD</th>
                                    {% if(role=='Admin') or (role=='manager') %}
                                    <th class="lang" key="edit"  style="width: 3%">Edit</th>
                                    {% endif %}
                                    {% if(role=='Admin')  %}
                                        <th class="lang" key="delete"  style="width: 3%">Delete</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>

                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.NAME }}</td>

                                        <td>{{ user.EMAIL }}</td>

                                        <td>{{ user.CONTACT_NO }}</td>
                                        <td>{{ user.role }}</td>
                                        <td>{{ user.PASSWORD }}</td>
                                        {% if(role=='Admin') or (role=='manager') %}
                                            <td><a target="_blank" href="/users/edit/{{ user.PARTY_ID }}" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                        {% endif %}
                                        {% if(role=='Admin')  %}
                                            <td><a  href="/users/delete/{{ user.PARTY_ID }}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                        {% endif %}
                                     </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

{% endblock middle %}


<script type="text/javascript">
    $(document).ready(function() {
        $('#bootstrap-data-table').DataTable();
    } );
</script>
</body>
</html>