<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script type="text/javascript">
        var a ='khurram';
        console.log(a);
    </script>
</head>
{% extends "login/head2.twig" %}
{% block middle %}
    <div class="col-sm-12">
        <div class="panel panel-default">

            <div class="panel-heading"  ><h4><b>Edit Hawala Form</b></h4></div><br>
            <div class="panel-body">

                <form role="form" action="/hawala_receive/update" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ hawalas[0].hawala_id }}">
                    <input type="text" name="old_product_pic" value="{{ hawalas[0].cnic }}">
                    <input type="hidden" id="hidden_to_id" name="hidden_to_id" value="{{ hawalas[0].to_customer }}" >
                    <div class="row">
                        <!-- hawaala no -->
                        <div class="col-sm-12" >
                            <label class="col-sm-2">Hawala No</label>
                            <div class="col-sm-3">
                                <input value="{{ hawalas[0].hawala_number }}" style="color: blue; font-weight: bold; font-size: 20px" type="text" name="hawala_number" class="form-control" value="" required="required">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2">Hawala Date</label>
                            <div class="col-sm-3">
                                <input value="{{ hawalas[0].hawala_date|date("Y-m-d") }}" type="date" name="hawala_date" id="theDate" class="form-control">
                            </div>
                        </div>


                        <div class="col-sm-12" ><br>

                            <label class="col-sm-2">Customer Type</label>
                            <div class="col-sm-3">
                                <select class="form-control type" name="customer_type">
                                    <option value="">--Select--</option>
                                    <option value="permanent">Permanent</option>
                                    <option value="cash">Cash</option>
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2">From Customer</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="from_customer" id="from_customer">
                                    <option value="0">Select Customer</option>
                                    {% for customer in customers %}
                                        {% if(hawalas[0].from_customer == customer.PARTY_ID) %}
                                            <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}</option>
                                        {% else %}
                                            <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Customer type -->
                        <div class="col-sm-12"><br>

                            <label class="col-sm-2">To Customer </label>
                            <div class="col-sm-3">
                                <select class="form-control" id="to_customer" name="to_customer">
                                    <option value="0">Select Customer</option>
                                    {% for customer in customers %}
                                        {% if(hawalas[0].to_customer == customer.PARTY_ID) %}
                                            <option value="{{ customer.PARTY_ID }}" selected> {{ customer.NAME }}</option>
                                        {% else %}
                                            <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2">Hawala Currency </label>
                            <div class="col-sm-3">
                                <select class="form-control" name="currency_id" id="currency_id">
                                    {% for currency in currencies %}
                                        {% if(hawalas[0].currency_id == currency.currencyid) %}
                                            <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                        {% else %}
                                            <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Hawala currrnecy -->
                        <div class="col-sm-12"><br>
                            <label class="col-sm-2">Hawala Amount</label>
                            <div class="col-sm-3">
                                <input type="text" name="hawala_amount" id="hawala_amount" class="form-control" value="{{ hawalas[0].hawala_amount }}">
                            </div>
                            <div class="col-sm-1"></div>

                            <label class="col-sm-2">Hawala Commission </label>
                            <div class="col-sm-3">
                                <input type="text" name="hawala_commission" id="hawala_commission" class="form-control" value="{{ hawalas[0].hawala_commission }}">
                            </div>
                        </div>

                        <div class="col-sm-12"><br>

                            <label class="col-sm-2">Commission Currency</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="commission_currency_id">
                                    {% for currency in currencies %}
                                        {% if(hawalas[0].commission_currency_id == currency.currencyid) %}
                                            <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                        {% else %}
                                            <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2">Total Payment</label>
                            <div class="col-sm-3">
                                <input type="text" value="{{ hawalas[0].total_payment }}" style="color: green; font-weight: bold; font-size: 20px" name="total_payment" id="total_payment" class="form-control">
                            </div>

                        </div>

                        <!--  -->
                        <div class="col-sm-12"><br>


                            <label class="col-sm-1">Remarks</label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <textarea name="remarks" rows="4" class="form-control">{{ hawalas[0].remarks }}</textarea>
                            </div>
                        </div>
                        <!--  -->
                    </div>

                    <hr>
                    <h3>Conversion</h3>
                    <div class="col-sm-12"><br>
                        <label class="col-sm-2">Conversion Currency </label>
                        <div class="col-sm-3">
                            <select class="form-control" name="conversion_currency_id">
                                {% for currency in currencies %}
                                    {% if(hawalas[0].conversion_currency_id == currency.currencyid) %}
                                        <option value="{{ currency.currencyid }}" selected> {{ currency.currency_name }}</option>
                                    {% else %}
                                        <option value="{{ currency.currencyid }}" > {{ currency.currency_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <label class="col-sm-2">Exg Rate</label>
                        <div class="col-sm-3">
                            <input value="{{ hawalas[0].exchange_rate }}" type="text" name="exchange_rate" id="exchange_rate" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-12"><br>
                        <label class="col-sm-2">Total Amount </label>
                        <div class="col-sm-3">
                            <input type="text" value="{{ hawalas[0].total_amount }}" style="color: green; font-weight: bold; font-size: 20px" name="total_amount" id="total_amount" class="form-control">
                        </div>

                        <div class="col-sm-1"></div>
                        <label class="col-sm-2">CNIC</label>
                        <div class="col-sm-3">
                            <img src="/../static/cnics/{{ hawalas[0].cnic }}" data-holder-rendered="true" width="150px" style="margin-top:20px" />

                            <input name="product_pic" type="file" id="city" placeholder="Enter your Contact Number" class="form-control">

                        </div>
                    </div>
                    <div class="col-sm-12">
                            <button style="float: right" class="btn btn-success ">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    </div>


    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>
    <script>
        $('.type').on('change',function(){
            var type= $(this).val();
            if(type=='cash'){
                $("#to_customer").val('');
                $('#to_customer').attr("disabled", true);
            }
            else{

                $('#to_customer').attr("disabled", false);
            }
        });

        $('body').on('input','#hawala_amount',function(){
            calculate();
        });
        $('body').on('input','#hawala_commission',function(){
            calculate();
        });


        $('body').on('input','#exchange_rate',function(){
            var total_payment=$('#total_payment').val();
            var net_amount=parseFloat(total_payment)*parseFloat($(this).val());
            $('#total_amount').val(parseFloat(net_amount));
        });

    </script>

    <script>
        function calculate(){

            var hawala_amount=$('#hawala_amount').val();
            var hawala_commission=$('#hawala_commission').val();
            var net_amount=parseInt(hawala_amount)+parseInt(hawala_commission);
            $('#total_payment').val(net_amount);
        }
    </script>
    <script>
        $(document).ready(function(){
            if($('#hidden_to_id').val()==""){
                $('.type').val('cash');
                $('#to_customer').attr("disabled", true);

            }
            else{
                $('.type').val('permanent');
            }
        })
    </script>


{% endblock middle %}
</body>
</html>