<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>


        img {
            border-radius: 10%;
            float: right;
            margin-right: 15px
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        td{
            text-align: left;
            border-bottom: 1px solid #dddddd;
            padding: 8px;
        }

        th{
            background-color: #dddddd;
        }

    </style>
    <title></title>
</head>
<body>
<div id="main" style="border:2px solid #EDE8E8; border-radius:20px">





    <div style="width: 100%">

        <img src="/../static/login/images/we.png" width="80px" height="95px" style="float: left; margin-left: 5%; margin-top: 3%">

    </div>

    <div style="margin-top: 3%">
        <p style="margin-bottom: 5px">0339519630</p>
        <p style="margin-top: 0px">Malik Zahir Shah Afridi  <br>Village qalanga Akakhe Bara<br> District Khyber KPK Pakistan</p>
    </div>

    <br>

    <hr style="margin-top: 0px">
    <div style="width: 100%">

        <div style="margin-left: 5%; border: 1px solid #EDE8E8; width: 50%; display: inline-block; height: 210px">
            <p style="margin-left: 2%"><b>Bill To</b></p>
            <hr>
            {% if masters[0].customer_id=="counter_sale" %}
            <p style="margin-left: 2%"> {{  masters[0].customer_name }}</p>
            {% else %}
            <p style="margin-left: 2%">{{ masters[0].party_name }}</p>
            <p style="margin-left: 2%; margin-bottom: 3px">{{  masters[0].CONTACT_NO }}</p>
            <p style="margin-left: 2%; margin-top: 0px; margin-bottom: 3px">{{ masters[0].EMAIL }}</p>
            <p style="margin-left: 2% ; margin-top: 0px">{{ masters[0].ADDRESS }}</p>
            {% endif %}
        </div>

        <div style="width: 35%; float: right; border: 1px solid #EDE8E8; display: inline-block; height: 210px; margin-right: 2%">

            <div style="display: inline-block; width: 40%">
                <p style="text-align: right;"><b>Invoice</b></p>
                <p style="text-align: right"><b>Invoice Date</b></p>
                <p style="text-align: right"><b>Time</b></p>
                <p style="text-align: right"><b>From</b></p>
                <p style="text-align: right"><b>To</b></p>
                <p style="text-align: right"><b>Total Expense</b></p>

            </div>

            <div style="display: inline-block; width: 50%">
                <p style="margin-left: 20px">{{ masters[0].invoice_number }}</p>
                <p style="margin-left: 20px">{{masters[0].invoice_date|date("m/d/Y") }}</p>
                <p style="margin-left: 20px">{{masters[0].invoice_time }}</p>
                <p style="margin-left: 20px">{{ masters[0].from_destination_name }}</p>
                <p style="margin-left: 20px">{{ masters[0].to_destination_name }}</p>
                <p style="margin-left: 20px">{{trip_expense }}</p>



            </div>

        </div>


    </div>
    <br>
    <br>

    <div style="width: 90%; margin-left: 4.9%; margin-top: 0px">

        <table>
            <tr>
                <th style="width: 15%"># Category</th>
                <th style="width: 35%">Product</th>
                <th style="width: 10%">Weight</th>
                <th style="width: 10%">Rate</th>
                <th style="text-align: right; width: 10%">Amount</th>
            </tr>
            {% set count = 1 %}
            {% for child in childs %}
            <tr>
                <td>{{ count }} &nbsp;&nbsp;&nbsp; {{ child.category_name }}</td>
                <td>{{ child.product_name }}</td>
                <td>{{ child.quantity }}</td>
                <td>{{ child.price }}</td>
                <td style="text-align: right">{{ child.total }}</td>
            </tr>
                {% set count = ( count | default(0) ) + 1 %}
            {% endfor %}


        </table>
        <div style="width: 20%; display: inline-block">
            <table>
                <tr>
                    <td style="padding-top: 8px; padding-right: 0px;">Total Items :</td>
                    <td style="padding-left: 0px; padding-top: 8px">{{ count-1 }}</td>
                </tr>
            </table>
        </div>

        <div style="width: 35%; display: inline-block; float: right">

            <table style="float: right">


                <tr>
                    <td style="width: 70px; text-align: right; border-bottom: 0px">Total : </td>
                    <td style="width: 70px; text-align: right; border-bottom: 0px">{{ masters[0].net_amount }}</td>
                </tr>


            </table>



        </div>

    </div>



    <div style="min-height: 710px">


    </div>
    <!--
    <script>

        window.onload = function () {
            window.print();
        }

    </script>
    -->


</div>

</body>
</html>
