<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            /*          border-radius: 40%;*/
            float: left
        }

    </style>
    <script src="https://www.allphptricks.com/demo/2018/july/convert-numbers-into-words/js/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.allphptricks.com/demo/2018/july/convert-numbers-into-words/js/num-to-words.js" type="text/javascript"></script>
    <title></title>
</head>
<body>
<div >
    <div style="display: inline-block; width: 70%"><h1 style="margin-top: 30px; margin-bottom: 0px;  margin-left: 10px"><span>{{ session.name }} </span></h1>

        <h4 style="margin-top: 3px; margin-left: 10px; margin-bottom: 0px">Contact No :<span> {{ session.contact }} </span></h4>
        <h4 style="margin-top: 0px; margin-left: 10px">Email :<span> {{ session.email }} </span></h4>

    </div>

    <img src="/../static/img/{{ session.logo }}" width="80px" height="80px" style="margin-top: 15px;">
    <h3 style="float: right; margin-top: 109px; margin-bottom: 0px">Purchase Invoice</h3>
</div>


<hr>


<div style="width: 50%; float: left; margin-bottom: 10px">
    <h3 style="margin: 0px; padding: 0px">Bill To : </h3>
    {% if masters[0].customer_id=="counter_sale" %}
        Name: Counter Sale
    {% else %}

        <p style="font-size: 15px; margin: 0px">Name :  <span>  {{  masters[0].party_name }}</span></p>
        <p style="margin: 0px">Address :  <span>{{  masters[0].ADDRESS }}</span></p>
        <p style="font-size: 15px; margin: 0px">Contact No :  <span>{{  masters[0].CONTACT_NO }}</span></p>
        <p style="font-size: 15px; margin: 0px">Vehicle # :  <span>{{  masters[0].vehicle_number }}</span></p>
        <p style="font-size: 15px; margin: 0px">Gate Pass # :  <span>{{  masters[0].gate_pass_number }}</span></p>
    {% endif %}

</div>


<div style="width: 25%; float: right; margin-top: 20px">

    <h5 style="margin: 0px; padding: 0px"></h5>
    <p style="font-size: 15px; margin: 0px">Invoice No : {{ masters[0].invoice_number }}</p>
    <p style="font-size: 15px; margin: 0px">Invoice Date : {{ masters[0].invoice_date|date("m/d/Y") }}</p>
    <p style="font-size: 15px; margin: 0px">Invoice Time : <span>{{ masters[0].invoice_time }}</span></p>
    <p style="margin: 0px">Payment Type : <span>{{ masters[0].payment_type }}</span></p>


</div>

<div style="min-height: 740px">
    <table style="border: 1px solid black; width: 100%; margin-top: 0px ">
        <tr>
            <thead>
            <th style="width: 5%;">SNo</th>

            <th style="width: 20%">Product Name</th>
            <th style="width: 5%">Quantity</th>
            <th style="width: 15%">Price</th>
            <th style="width: 15%">Total</th>
            </thead>
        </tr>

        {% set count = 1 %}
        {% for child in childs %}
            <tr>
                <td style="width: 5%; text-align: center; text-align:right">{{ count }}</td>

                <td style="width: 40%; text-align: center; ">{{ child.product_name }}</td>
                <td style="width: 10%; text-align: center;text-align:right">{{ child.quantity }}</td>
                <td style="width: 20%; text-align: center;text-align:right">{{ child.cost_price }}</td>
                <td style="width: 20%; text-align: center;text-align:right">{{ child.total }}</td>
            </tr>
            {#{% set  count = 4; %}#}
            {% set count = ( count | default(0) ) + 1 %}
        {% endfor %}

    </table>
    <div style="float: left; ">
        <p style="margin-bottom: 0px">Total Items : <span>{{ count-1 }}</span></p>
        <br><br>
        <p style="margin-top: 0px">Amount In Words : <span id="amount_words"> </span> only</p>
    </div>


    <div style="margin-left: 68%">
        <p style="margin-bottom: 0px">Gross Total : <span>{{ masters[0].gross_amount }}</span> </p>
        <p style="margin-bottom: 3px; margin-top: 0px">Discount : <span>{{ masters[0].discount }}</span></p>
        <h4 style="margin-top: 3px; padding-bottom: 3px; padding-top: 3px; border-top: 1px solid black; border-bottom: 1px solid black">Net Total : {{ masters[0].net_amount }}</h4>
    </div>




</div>

<script>

    window.onload = function () {
        window.print();
    }

</script>

<script type="text/javascript">
    $(document).ready(function(){
        var totalamount={{ masters[0].net_amount }};
        words = toWords(totalamount);
        $('#amount_words').append(words);
    })
</script>


<h4 style="text-align: center ">Copyright : Tech Track</h4>

</body>
</html>
