<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}
{% block middle %}
    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Trigger the modal with a button -->


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: red"><strong>Alert</strong></h4>
                </div>
                <div class="modal-body">
                    <p><strong>The price cant not be less the cost price.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/sale_invoice/print/{{ sale_id }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>



    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Sale Dollar</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/sale_dollars/store" method="post">
                        <div class="box-body">



                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Form-I #</label>
                                    <input value="" style="color: green; font-weight: bold; font-size: 20px" type="text"  name="form_i_number" class="form-control" id="exampleInputEmail1"  >
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="lang" key="date">Invoice Date</label>
                                    <input type="date" value="" name="date" class="form-control" id="theDate" placeholder="Enter Category Name">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="exampleInputEmail1" class="lang" key="time">Time</label>
                                    <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                                </div>
                            </div>

                            <hr style="color: black; width: 100%">


                            <div class="col-md-4">
                                <div class="form-group" style="margin-top: 20px;">
                                    <label for="exampleInputEmail1" style="font-size: 17px; font-weight: bold;color: green;" >Transaction Type</label>

                                    <label class="checkbox-inline">
                                        <input type="radio" class="type" value="general" name="type" checked>Open
                                    </label>

                                    <label class="checkbox-inline">
                                        <input type="radio" class="type" value="party" name="type">Party
                                    </label>

                                </div>
                            </div>
                            <div id="general_div" >
                                <div class="col-md-6"  >
                                    <div class="form-group" style="margin-top: 20px;" style="display: none">
                                        <label for="exampleInputEmail1" class="lang">Party Name</label>

                                        <input type="text" class="form-control" name="party_name">

                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>

                            <div style="display: none" id="party_div">
                                <div class="col-md-4">
                                    <div class="form-group" >
                                        <label for="exampleInputPassword1">Party Name</label>
                                        <select class="party_id  form-control" name="party_id">
                                            <option value="">Select Customer</option>
                                            {% for customer in customers %}
                                                <option value="{{ customer.PARTY_ID }}"> {{ customer.NAME }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group" >
                                        <label for="exampleInputPassword1">Trip</label>
                                        <select class="trip_id form-control" name="trip_id">
                                            <option value="">Select Trip</option>

                                        </select>
                                    </div>
                                </div>
                            </div>












                            <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Bank Name</label>
                                    <select class="form-control" name="account_id" id="account_id">
                                        <option value="counter_sale">Select Bank</option>
                                        {% for bank in banks %}
                                            <option value="{{ bank.ACCOUNT_ID }}"> {{ bank.NAME }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group" >
                                      <label for="exampleInputPassword1">Cash in Bank(PKR)</label>
                                      <input style="color: green; font-weight: bold;font-size: 20px" type="text" name="amount_in_pkr" id="amount_in_pkr" class="form-control" readonly>
                                  </div>
                              </div>

                              <div class="col-md-6">
                                  <div class="form-group" >
                                      <label for="exampleInputPassword1">Cash in Bank(Dollar)</label>
                                      <input style="color: green; font-weight: bold; font-size: 20px;" type="text" name="amount_in_dollar" id="amount_in_dollar" class="form-control" readonly>
                                  </div>
                              </div>



                               <div class="col-md-12">
                                <div class="form-group" >
                                    <label for="exampleInputPassword1">Amount</label>
                                    <input type="text" name="amount" class="form-control" >
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Per Dollar</label>
                                    <input style="color: green; font-weight: bold;  font-size: 20px" type="text" name="per_dollar_rate" class="form-control" id="per_dollar_rate" readonly >
                                </div>
                            </div>





                            <hr style="width: 100%;">






                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        $(document).ready(function(){
            $('.type').on('change',function(){
                var type= $(this).val();
                if(type=='general'){
                 $("#general_div").show();
                 $('#party_div').hide();
                }
                else{
                    $("#general_div").hide();
                    $('#party_div').show();
                }
            });

            $('body').on('change' ,'.party_id' , function(){

                var $el= $('.trip_id');
                var id=$(this).val();

                $el.empty();
                $el.append('<option value="">select trip </option>')
                $.ajax({
                    'type':'Get',
                    'url':"/sale_dollars/get_trip"+ "/"+ id,
                    success:function(response){
                        console.log(response)
                        $.each(response,function(key,value){
                            $el.append("<option   value='"+value.id+"'>"+value.invoice_number+"</option>");
                        });
                    }
                });
            });

            $('body').on('change' ,'#account_id' , function(){
                var id=$(this).val();
                $.ajax({
                    'type':'Get',
                    'url':"/sale_dollars/get_amounts"+ "/"+ id,
                    success:function(response){
                        console.log(response)
                        $.each(response,function(key,value){
                          $('#amount_in_dollar').val(value.amount_in_dollar);
                          $('#amount_in_pkr').val(value.amount_in_pkr);
                        });
                    }
                });

                $.ajax({
                    'type':'Get',
                    'url':"/sale_dollars/get_per_dollar"+ "/"+ id,
                    success:function(response){

                        $.each(response,function(key,value){
                            $('#per_dollar_rate').val(value.per_dollar_rate)
                        });
                    }
                });

            });
        });
    </script>



    <script>
        $(document).ready(function(){
            {% if sale_id is empty %}
            {% else %}
            $('#myModal2').modal('show');
            {% endif %}

            $('#party_amount,#party_dollar_rate').on('input',function(){
                var value=$('#party_amount').val();
                var party_dollar_rate=$('#party_dollar_rate').val();
                $('#party_total').val(value*party_dollar_rate);
                khan();
            });

            $('#bank_amount,#bank_dollar_rate').on('input',function(){
                var value=$('#bank_amount').val();
                var bank_dollar_rate=$('#bank_dollar_rate').val();
                $('#bank_total').val(value*bank_dollar_rate);
                khan();

            });


            $('#tax_rate').on('input',function(){
                var tax_rate=$('#tax_rate').val();
                var difference=$('#difference').val();
                var bank_amount=$('#bank_amount').val();
                $('#total_rate').val( tax_rate * bank_amount);
                var total_rate= $('#total_rate').val();
                $('#net_amount').val(parseInt(difference) + parseInt(total_rate));
                var net_amount=$('#net_amount').val();
                $('#per_dollar').val(net_amount/bank_amount).toFixed(2);


            });
        });
        function khan(){
            var party_total=$('#party_total').val();
            var bank_total=$('#bank_total').val();
            $('#difference').val(party_total -  bank_total);
        }
    </script>

    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>

    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
{% endblock middle %}
</body>
</html>