<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% extends "login/head2.twig" %}

{% block middle  %}
    <style>
        .bld {font-weight:bold;}
    </style>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {#<h1>The session value is : {{ session.name }}</h1>#}

    <div style="margin-left: 2%">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Cash Payment</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/voucher_cashpayment/update" method="post">
                <div class="box-body">
                    <div class="form-group col-md-4">
                        <input type="hidden" name="id" value="{{ record[0].VOUCHER_ID }}">
                        <label for="exampleInputEmail1">Voucher Number</label>
                        <input type="text" readonly="readonly" value="{{ record[0].VOUCHER_NO }}" name="voucher_no" class="form-control" style="font-size: 18px;font-weight: bold; color: #008000">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="date">Date</label>
                       <input name="voucher_date" type="date" required="required"  class="form-control" value="{{ record[0].VOUCHER_DATE|date("Y-m-d") }}">
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" class="lang" key="time">Time</label>
                            <input name="time" style="font-weight: bold; color: green;font-size: 19px"  readonly type="timer" value="" class="form-control" id="timer">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label for="exampleInputEmail1" class="lang" key="parties">Parties</label>
                            <select class="form-control selectpicker" data-live-search="true" id="party_id" name="party_id">
                                <option value="">Select Party</option>
                                {% for party in parties %}
                                    {% if party.TYPE == 'C' %}
                                        {% if(party.PARTY_ID==record[0].PARTY_ID) %}
                                            <option value="{{ party.PARTY_ID }}" selected> {{ party.NAME }} <b> (Customer)</b></option>
                                        {% else %}
                                            <option value="{{ party.PARTY_ID }}"> {{ party.NAME }} <b> (Customer)</b></option>
                                        {% endif %}

                                    {% else %}
                                        {% if(party.PARTY_ID==record[0].PARTY_ID) %}
                                            <option value="{{ party.PARTY_ID }}" selected> {{ party.NAME }} <span style="font-weight: bold">(Vendor)</span></option>
                                        {% else %}
                                            <option value="{{ party.PARTY_ID }}"> {{ party.NAME }} <span style="font-weight: bold">(Vendor)</span></option>
                                        {% endif %}


                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1" class="lang" key="amount">Amount</label>
                        <input type="text" value="{{ record[0].AMOUNT }}" name="amount" class="form-control" required="required" placeholder="Enter Amount Here">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Manual Number</label>
                        <input name="manual_no" type="text"  class="form-control" placeholder="Enter Manual Number">
                    </div>



                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1" class="lang" key="last balance">Last Balance</label>
                        <input style="color: red; font-weight: bold; font-size: 19px" readonly id="last_balance" type="text" name="last_balance" class="form-control">
                    </div>

                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">

                    </div>


                    <div class="form-group col-md-12">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea style="height: 130px" name="description" class="form-control"></textarea>
                    </div>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button style="float: right" type="submit" class="btn btn-primary">Add Now</button>
                </div>
            </form>
        </div>


    </div>



    <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;


        document.getElementById('theDate').value = today;
    </script>


    <script>
        function formatAMPM(date) {
//     alert('hello');
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var sec  = date.getSeconds();

            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            sec = (sec < 10 ? "0" : "") + sec;

            var strTime = hours + ':' + minutes + ':' + sec + ' ' + ampm;

            return strTime;
        }
        setInterval(function(){
            $('#timer').val(formatAMPM(new Date));
        },'1000');
    </script>
    <script>
        $(document).ready(function(){
            $('#party_id').on('change',function(){
                var party_id=$(this).val();
                $.ajax({
                    'type':'Get',
                    'url':"/voucher_cashpayment/getlastbalance"+ "/"+ party_id,
                    success:function(response){
                        $('#last_balance').val(response)
                    }
                });

            });


            var party_id=$('#party_id').val();
            $.ajax({
                'type':'Get',
                'url':"/voucher_cashpayment/getlastbalance"+ "/"+ party_id,
                success:function(response){
                    $('#last_balance').val(response)
                }
            });


        });
    </script>
{% endblock middle %}


</body>
</html>