<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}

{% block middle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>


    <div id="myModal2" class="modal fade" role="dialog"  >
        <div class="modal-dialog" style="margin-top: 18%;">

            <!-- Modal content-->
            <div class="modal-content" style="width: 90%;">

                <div class="modal-body">
                    <p align="center"> <b>Do You Want To Print!</b><a target="_blank"  href="/account_head/voucher_receipt/{{ success }}" class="btn btn-primary"><i class="fa fa-print"></i></a> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></p>
                </div>

            </div>

        </div>
    </div>
    <section class="content">
        <a href="/voucher_cashpayment/add"><button class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-plus"></i>Add New</button></a>
        <div class="row">
            <div class="col-xs-12">
                {#{% if(success is not empty) %}#}
                    {#<div class="alert alert-success" style="margin-top: 5px"><p style="text-align: center; font-size:15px"><b>{{ success }}</b></p></div>#}
                {#{% endif %}#}

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Cash Payments</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Voucher # </th>
                                <th>DATE</th>
                                <th>AMOUNT</th>
                                <th>Party Name</th>
                                <th>DESCRIPTION</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                            <tr>
                                <td>{{ payment.VOUCHER_NO }}</td>
                                <td>{{ payment.VOUCHER_DATE|date("m/d/Y") }}</td>
                                <td style="float: right" class="money">{{ payment.AMOUNT }}</td>
                                {% if payment.p_type=='C' %}
                                <td>{{ payment.p_name }}(customer) </td>
                                {% else %}
                                <td>{{ payment.p_name }}(Vendor) </td>
                                {% endif %}

                                <td>{{ payment.DESCRIPTION }}</td>
                                 <td>
                                    <a class="btn btn-warning" href="/voucher_cashpayment/edit/{{payment.VOUCHER_ID }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a target="_blank" class="btn btn-primary" href="/account_head/voucher_receipt/{{payment.VOUCHER_ID }}"><i class="fa fa-print"></i></a>
                                           <a class="btn btn-danger" href="/voucher_cashpayment/delete/{{payment.VOUCHER_ID }}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>


<script>
    $(document).ready(function(){
        {% if(success is not empty) %}
         var successmessage={{ success }};
        $('#myModal2').modal('show');

        {% endif %}
    });
</script>

    <script type="text/javascript">

        $('.money').mask("#,###", {reverse: true});



    </script>


{% endblock middle %}

</body>
</html>