<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% extends "login/head2.twig" %}
{% block middle %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Customer Detail</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/customers/update" method="post">
                        <div class="box-body">
                            {% for customer in customers %}
                            <input type="hidden" name="party_id" value="{{ customer.PARTY_ID }}">
                            <div class="form-group col-md-6">
                                <label for="exampleInputPassword1">Name</label>
                                <input name="name" type="text" value="{{ customer.NAME }}"  placeholder="Enter Customer Name here" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input name="email" type="text" value="{{ customer.EMAIL }}" id="street" placeholder="Enter Email Here" class="form-control">
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contact Number</label>
                                    <input name="contact_number" value="{{ customer.CONTACT_NO }}" type="text" id="city" placeholder="Enter Contact Number Here" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Address</label>
                                    <input name="address" type="text" value="{{ customer.ADDRESS }}" id="city" placeholder="Enter Address Here" class="form-control">
                                </div>
                            </div>
                            
                              <div class="col-md-6">
                                {#<div class="form-group">#}
                                {#<label for="exampleInputPassword1">City</label>#}
                                {#<input name="city" type="text" id="city" placeholder="Enter City Here" class="form-control">#}
                                {#</div>#}

                                <label for="exampleInputPassword1">City</label>
                                <select class="form-control" name="city_id">
                                    <option value="0">Select City</option>
                                    {% for city in cities %}
                                        {% if(customer.city_id == city.id) %}
                                            <option value="{{ city.id }}" selected> {{ city.city }}</option>
                                        {% else %}
                                            <option value="{{ city.id }}"> {{ city.city }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Opening Balance</label>
                                    <input name="opening_balance" value="{{ customer.OPENING_BALANCE }}" type="number" id="street" placeholder="Enter Balance" class="form-control">
                                </div>
                            </div>




                            <div class="form-group col-md-12">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea name="description" class="form-control">{{ customer.DESCRIPTION }}</textarea>
                            </div>



                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button style="float: right" type="submit" class="btn btn-primary">Update Now</button>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock middle %}
</body>
</html>